<div class="row">
  <div class="<%= bootstrap_col xs: 12, md: 12 %> <%= wrapper_class%>">
    <div class="header">
      <div class="header-outer">
        <div class="header-inner">
          <h1>
            <% unless icon.blank? %>
              <span class='icon <%=icon %>'></span>
            <% end %>
            <%= title %>
          </h1>

          <% if buttons %>
            <div class="header-button-wrapper">
              <%= buttons %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
