<%= page_header('Sign up', "icon-cpp-users") %>

<div class="row">
  <div class="<%= bootstrap_col xs: 12, md: 12 %>">
    <div class="form_wrapper">
      <%= simple_form_for resource,
        as: resource_name,
        url: registration_path(resource_name),
        html: {class: "form-horizontal sign_up"},
        wrapper: :horizontal_form do |f| %>

        <%= f.input :email, as: :email, autofocus: true %>
        <%= f.input :password, as: :password %>

        <div class="row">
          <div class="col-sm-3 hidden-sm"></div>
          <div class="col-sm-9">
            <%= f.submit 'Sign up', class: "btn btn-large btn-success" %>
          </div>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
