<%= breadcrumb [['Service Types', service_types_path], [@service_type.name, service_type_path(@service_type)]] %>


<div class="row-fluid">
  <div class="span12">
    <div class="header">
      <h1><%= @service_type.name %></h1>
      <%= link_to 'Edit', edit_service_type_path(@service_type), class: "btn btn-primary" %>
    </div>

    <div class="table_wrapper">
     <table class="table table-striped">
        <thead>
          <tr>
            <th>Quality Elements</th>
            <th class="center">Schools</th>
            <th class="center">Organizations</th>
            <th class="center">Community Partnerships</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @service_type.quality_elements.map{|qe| qe.name}.join(', <br />').html_safe %></td>
            <td class="center"><%= @service_type.schools.uniq.count %></td>
            <td class="center"><%= @service_type.organizations.uniq.count %></td>
            <td class="center"><%= @service_type.community_partners.count %></td>
          </tr>
        </tbody>
      </table> 
    </div>

  </div>
</div>
