<%= breadcrumb [
  ['Service Types', service_types_path],
  [truncate(@service_type.name, length: 20), service_type_path(@service_type)]
] %>


<div class="row-fluid">
  <div class="span12">
    <%= page_header(@service_type.name, "") do %>
      <%= link_to 'Edit', edit_service_type_path(@service_type), class: "btn btn-primary" %>
    <% end %>

    <div class="table_wrapper">
     <table class="table table-striped">
        <thead>
          <tr>
            <th>Community School Element</th>
            <th class="center">Schools</th>
            <th class="center">Organizations</th>
            <th class="center">Community Programs</th>
          </tr>
        </thead>

        <tbody>
          <% @service_type.quality_elements.sort_by(&:name).each do |quality_element| %>
            <tr>
              <td><%= link_to quality_element.name, quality_element_path(quality_element_path) %></td>
              <td class="center"><%= @service_type.schools_for_quality_element_service_type(quality_element).count %></td>
              <td class="center"><%= @service_type.organizations_for_quality_element_service_type(quality_element).count %></td>
              <td class="center"><%= @service_type.community_programs_for_quality_element_service_type(quality_element).count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>
