<div class="table_wrapper">
  <table class="table table-striped table-hover table-sorter">
    <thead>
      <tr>
        <th>Program</th>
        <th>Last Updated At</th>
        <th>School Count</th>
        <th>School Program Completion Rates</th>
        <th>Program Completion Rate</th>
      </tr>
    </thead>

    <tbody>
      <% community_programs.each do |community_program| %>
        <tr>
          <td>
            <%= link_to community_program.name, community_program_path(community_program) %>
          </td>
          <td>
            <%= community_program.updated_at %>
          </td>
          <td>
            <%= community_program.school_programs.size %>
          </td>
          <td>
            <% if community_program.schools_with_differing_completion_rates.present? %>
              <%= partially_hidden_list(
                    community_program.
                    decorate.
                    schools_with_differing_completion_rates
                  ) do |school_program|
                      "#{school_program.school.name} (#{number_to_percentage(school_program.program_completion_rate, precision: 0)})"
                    end %>
            <% end %>
          </td>
          <td class="text-right">
            <%= number_to_percentage(
                  community_program.program_completion_rate,
                  precision: 0) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
