<%= breadcrumb [['Dashboard', '']] %>

<div class="row-fluid">
  <div class="span12">
    <%= page_header("Admin Dashboard", "") %>

    <%= page_nav_tabs [['Page Views', '#page-views'],
                       ['API Hits', '#api-hits'],
                       ['Analytics', '#analytics'],
                       ['Organizations', '#organization-completion-rates'],
                       ['Programs', '#community-program-completion-rates']
                       ] %>

    <div class="tab-content">
      <div id="page-views" class="tab-pane active">
        <%= render partial: 'page_views', locals: {records: @page_views} %>
      </div>

      <div id="api-hits" class="tab-pane active">
        <%= render partial: 'page_views', locals: {records: @api_hits} %>
      </div>

      <div id="analytics" class="tab-pane">
        <%#= render partial: 'analytics', locals: {analytics: @analytics} %>
      </div>

      <% if can? :manage, Organization %>
      <div id="organization-completion-rates" class="tab-pane">
        <%= render partial: 'organization_completeness', locals: {
              organizations: @organizations,
              all_organizations_program_count: @all_organizations_program_count,
              ousd_organizations_program_count: @ousd_organizations_program_count
        } %>
      </div>
      <% end %>

      <% if can? :manage, CommunityProgram %>
      <div id="community-program-completion-rates" class="tab-pane">
        <%= render partial: 'community_program_completeness', locals: {community_programs: @community_programs} %>
      </div>
      <% end %>

    </div>
  </div>
</div>
