<%= breadcrumb [['Dashboard', '']] %>

<div class="row-fluid">
  <div class="span12">
    <%= page_header("Admin Dashboard", "") %>

    <%= page_nav_tabs [['Page Views', '#page-views'],
                       ['API Hits', '#api-hits'],
                       ['Analytics', '#analytics'],
                       ['Program Completion Rates', '#program-completion-rates']] %>

    <div class="tab-content">
      <div id="page-views" class="tab-pane active">
        <%= render partial: 'page_views', locals: {records: @page_views} %>
      </div>

      <div id="api-hits" class="tab-pane active">
        <%= render partial: 'page_views', locals: {records: @api_hits} %>
      </div>

      <div id="analytics" class="tab-pane">
        <%#= render partial: 'analytics', locals: {analytics: @analytics} %>
      </div>

      <div id="program-completion-rates" class="tab-pane">
        <%= render partial: 'program_completions', locals: {program_completions: @program_completions} %>
      </div>
    </div>
  </div>
</div>
