<h3>Community Partnership Overview</h3>

<dl>
  <dt>Total Partnerships</dt>
  <dd><%= @community_partners.count %></dd>

  <dt>Schools with Partnerships</dt>
  <dd><%= @community_partners.map{|cp| cp.school_id}.flatten.uniq.count %>/<%= School.count %></dd>

  <dt>Organizations with Partnerships</dt>
  <dd><%= @community_partners.map{|cp| cp.organization_id}.flatten.uniq.count %>/<%= Organization.count %></dd>
</dl>
