<%= breadcrumb [['Community Partnerships', community_partners_path()]] %>

<div class="row-fluid">
  <div class="span12">
    <%= page_header("Community Partnerships", "icon-handshake") do %>
      <%= link_to 'Create New Partnership', new_community_partner_path(), :class => "btn btn-primary" %>
    <% end %>


    <%= page_nav_tabs [['Overview', '#overview'],
                       ['Community Partnerships', '#community-partners-table']] %>

    <div class="tab-content">
      <div id="overview" class="tab-pane active">
        <%= render partial: 'overview', locals: {} %>
      </div>

      <div id="community-partners-table" class="tab-pane">
        <%= render partial: 'table', locals: {community_partners: @community_partners} %>
      </div>
    </div>
  </div>
</div>
