<div class="table_wrapper">
  <table class="table table-striped table-hover table-sorter">
    <thead>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Role</th>

        <% if [:super_admin, :district_manager, :organization_member].any?{|role| current_user.role?(role) } %>
          <th>Organization</th>
        <% end %>

        <% if [:super_admin, :district_manager, :school_manager].any?{|role| current_user.role?(role) } %>
          <th>Schools</th>
        <% end %>

        <th class="sorter-false filter-false">Last Signed In</th>
        <th class="sorter-false filter-false"></th>
      </tr>
    </thead>

    <tbody>
      <% users.each do |user| %>
        <tr>
          <td><%= user.last_name %></td>
          <td><%= user.first_name %></td>
          <td><%= user.roles.map(&:name).join(', <br />').html_safe %></td>

          <% if [:super_admin, :district_manager, :organization_member].any?{|role| current_user.role?(role) } %>
            <td><%= user.organization.try(:name) %></td>
          <% end %>

          <% if [:super_admin, :district_manager, :school_manager].any?{|role| current_user.role?(role) } %>
            <td><%= user.schools.map(&:name).join(', <br />').html_safe %></td>
          <% end %>

          <td><%= user.current_sign_in_at.to_s(:date_at_time) %></td>
          <td class="center">
            <%= link_to 'view', user_path(user), class: "btn btn-small btn-info" %>
            <%= link_to 'edit', edit_user_path(user), class: "btn btn-small btn-info" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
