<% users.group_by(&:primary_role).sort.each do |role, users| %>
  <div class="table_wrapper toggle toggleable closed"
    data-toggle-target="<%= "#user-table-#{role.name.domify}-#{'active' if active}" %>"
    data-toggle-skip-text=true
    data-toggle-trigger-el="h2">

    <h2>
      <%= gicon 'plus' %><%= gicon 'minus' %>
      <%= role.name %>
      <span class="hint"><%= pluralize users.count, 'user' %></span>
    </h2>

    <table class="table table-striped table-hover table-sorter collapsible-area"
      id="<%= "user-table-#{role.name.domify}-#{'active' if active}" %>">
      <thead>
        <tr>
          <th>Last Name</th>
          <th>First Name</th>
          <% unless active %>
            <th>Email</th>
          <% end %>

          <% unless [:super_admin, :district_manager].include?(role.identifier.to_sym) %>
            <th>Title</th>
          <% end %>

          <th>Role</th>

          <% if [:organization_member].include?(role.identifier.to_sym) %>
            <th>Organization</th>
          <% end %>

          <% if [:school_manager].include?(role.identifier.to_sym) %>
            <th>Schools</th>
          <% end %>

          <% if active %>
            <th class="sorter-false filter-false">
              <%= t('user.last_login') %>
            </th>
          <% else %>
            <th><%= t('user.invitation_status') %></th>
          <% end %>

          <th class="sorter-false filter-false"></th>
        </tr>
      </thead>

      <tbody>
        <% users.each do |user| %>
          <tr>
            <td><%= user.last_name %></td>
            <td><%= user.first_name %></td>

            <% unless active %>
              <td><%= user.email %></td>
            <% end %>

            <% unless [:super_admin, :district_manager].include?(role.identifier.to_sym) %>
              <td><%= user.title %></td>
            <% end %>

            <td><%= user.roles.map(&:name).join(', <br />').html_safe %></td>

            <% if [:organization_member].include?(role.identifier.to_sym) %>
              <td><%= user.organization.try(:name) %></td>
            <% end %>

            <% if [:school_manager].include?(role.identifier.to_sym) %>
              <td><%= user.schools.map(&:name).join(', <br />').html_safe %></td>
            <% end %>

            <% if user.invitation_accepted? %>
              <td><%= user.last_login %></td>
            <% else %>
              <td><%= invitation_status_for(user) %></td>
            <% end %>

            <td class="center">
              <%= link_to_gicon 'view',
                user_path(user),
                class: "btn btn-small btn-info",
                icon: 'eye-open' %>

              <%= link_to_gicon 'edit',
                edit_user_path(user),
                class: "btn btn-small btn-primary",
                icon: 'pencil' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
