<%= breadcrumb [
  ['Users', users_path],
  [truncate(@user.full_name, length: 20), user_path(@user)],
  ['Edit', '']
] %>

<%= page_header("Edit #{@user.full_name}", "icon-cpp-users") %>

<div class="row">
  <div class="<%= bootstrap_col xs: 12, md: 12 %>">
    <div class="form_wrapper">
      <%= simple_form_for @user, method: :put,
        html: {class: "form-horizontal user"},
        wrapper: :horizontal_form do |f| %>

        <%= render :partial => 'form', :locals => {
          :f => f,
          roles: @roles,
          schools: @schools,
          organizations: @organizations,
          display_active_attribute: can?(:manage, User) } %>
      <% end %>
    </div>
  </div>
</div>
