<%= breadcrumb [
  ['Users', users_path],
  ['Create', '']
] %>

<%= page_header("Create New User", "icon-cpp-users") %>

<div class="row">
  <div class="<%= bootstrap_col xs: 12, md: 12 %>">
    <div class="form_wrapper">
      <%= simple_form_for @user, method: :post,
        html: {class: "form-horizontal user"},
        wrapper: :horizontal_form do |f| %>

        <%= render :partial => 'form', :locals => {
          f: f,
          roles: @roles,
          schools: @schools,
          organizations: @organizations
        } %>
      <% end %>
    </div>
  </div>
</div>
