<%= breadcrumb [['Users', users_path], [@user.full_name, user_path(@user)]] %>

<div class="row-fluid">
  <div class="span12">
    <div class="header">
      <h1><%= @user.full_name %></h1>
      <div class="button_wrapper">
        <%= link_to('Edit', edit_user_path(@user), class: "btn btn-primary") if can?(:manage, @user) %>
        <%= link_to('Add Role', new_user_role_path(@user), class: "btn btn-warning") if can?(:add_role, User) %>
      </div>
    </div>


    <dl class="horizontal_stack span3">
      <dt>Name</dt>
      <dd><%= @user.full_name %></dd>

      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Phone Number</dt>
      <dd><%= number_to_phone(@user.phone_number) %></dd>
    </dl>

    <dl class="horizontal_stack span3">
      <% @user.roles.each do |role| %>
        <%= role_view(role, @user) %>
      <% end %>
    </dl>

    <dl class="horizontal_stack span3">
      <dt>Active</dt>
      <dd><%= @user.active.to_s %></dd>

      <dt>Invitation Status</dt>
      <dd><%= invitation_status_for(@user) %></dd>
    </dl>
  </div>
</div>
