<%= breadcrumb [
  ['Users', users_path],
  [truncate(@user_role.user.full_name, length: 20), user_path(@user_role.user)],
  ['Add Role', '#']]
%>

<%= page_header("Add Role to #{@user_role.user.full_name}", "") %>

<div class="row">
  <div class="<%= bootstrap_col xs:12, md: 12 %>">
    <div class="form_wrapper">
      <%= simple_form_for @user_role, url: user_roles_path,
        method: :post,
        html: {class: "form-horizontal"},
        wrapper: :horizontal_form do |f| %>

        <%= f.input :role,
          as: :select,
          collection: @user_role.available_roles(current_ability).map{|r| [r.name, r.id, {"data-role-type" => r.identifier}]},
          disabled: @user_role.user.roles.map(&:id),
          include_blank: true,
          selected: f.object.role.try(:id),
          required: true,
          label: 'Role' %>

        <% if @user_role.available_role_identifiers(current_ability).include?(:organization_member) %>
          <%= f.input :organization,
            as: :select,
            collection: Organization.accessible_by(current_ability).select('name, id').sort_by(&:name),
            insert_blank: true,
            label: 'Organization',
            required: true,
            disabled: true,
            wrapper_html: {class: "hidden"} %>
        <% end %>

        <% if @user_role.available_role_identifiers(current_ability).include?(:school_manager) %>
          <%= f.input :schools,
            as: :select,
            collection: School.accessible_by(current_ability).select('name, id').sort_by(&:name),
            insert_blank: true,
            label: 'Schools',
            required: true,
            disabled: true,
            multiple: true,
            wrapper_html: {class: "hidden"} %>
        <% end %>

        <div class="row">
          <div class="col-sm-3 hidden-sm"></div>
          <div class="col-sm-9">
            <%= f.submit 'Add Role', class: "btn btn-large btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
