<%= field_set_tag "Program" do %>
  <%= f.input :name, required: true %>

  <%= f.input :service_description %>

  <%= f.input :site_agreement_on_file%>

  <%= f.input :mou_on_file %>
<% end %>

<%= field_set_tag "Organization Details" do %>
  <%= f.input :organization_id,
    as: :select,
    collection: Organization.accessible_by(current_ability).
      with_users.sort_by(&:name),
    required: true,
    selected: current_user.role?(:organization_member) ?
      current_user.organization_id : "" %>

  <div id="org-user-wrapper" class="user-add-wrapper">
    <div id="add-org-user"
      class="user-add btn btn-medium btn-create">
      <%= gicon 'plus' %> Create new organization user
    </div>

    <%= f.input :user_id,
      as: :select,
      collection: User.accessible_by(current_ability).
        where(organization_id: @community_program.organization_id).
        sort_by(&:full_name),
      label_method: :full_name,
      required: true,
      wrapper_html: {class: 'clear both'} %>
  </div>
<% end %>

<%= field_set_tag "School Details" do %>

  <%#= f.input :school_id,
              as: :select,
              collection: School.accessible_by(current_ability).where(active: true).sort_by(&:name),
              required: true %>

  <div id="school-user-wrapper" class="user-add-wrapper">
    <%#= f.input :school_user_id,
                as: :select,
                collection: User.accessible_by(current_ability).includes(:schools).where(schools: {id: @community_program.school_id}).sort_by(&:full_name),
                label: "Primary school contact",
                required: false %>

    <div id="add-school-user" class="user-add btn btn-create">
      Create new school user
    </div>
  </div>
<% end %>

<%= field_set_tag "Program Details" do %>
  <%= f.input :student_population,
    as: :select,
    collection: StudentPopulation.accessible_by(current_ability) %>

  <%= f.input :ethnicity_culture_groups,
    as: :columized_checkboxes,
    collection: EthnicityCultureGroup.accessible_by(current_ability).
      sort_by(&:name),
    columns: 3 %>

  <%= f.input :demographic_groups,
    as: :columized_checkboxes,
    collection: DemographicGroup.accessible_by(current_ability).
      sort_by(&:name),
    columns: 3 %>

  <%= f.input :grade_levels,
    as: :columized_checkboxes,
    collection: GradeLevel.accessible_by(current_ability),
    columns: 4 %>

  <%= f.input :service_times,
    as: :columized_checkboxes,
    collection: ServiceTime.accessible_by(current_ability),
    columns: 3 %>

  <%= f.input :days,
    as: :columized_checkboxes,
    collection: Day.accessible_by(current_ability),
    columns: 3 %>
<% end %>

<%= field_set_tag "Internal Details" do %>
  <%= f.input :notes %>
<% end %>


<%= f.submit 'Save',
  class: "btn #{f.object.verification_required? ? 'btn-primary' : 'btn-success'}"
%>

<% if f.object.verification_required? && can?(:verify, f.object) %>
  <%= f.submit 'Save & Verify', class: "btn btn-success", type: 'verify' %>
  <%= help_hover do %>
    This program needs verification. If for some reason you need to
    update a piece of data but are unable to verify the rest of the program
    information use the 'Save' button. Note: Programs that aren't verified may not
    show up to some users of the system.
  <% end %>
<% end %>
