<h2>Program Details</h2>
<%= f.inputs do %>
  <%= f.input :name,
              label: "Program name",
              hint: "Used to differentiate programs at a school. Does not need to be an official name but should be descriptive.",
              required: true %>

  <%= f.input :organization_id,
              as: :select,
              collection: Organization.accessible_by(current_ability).with_users.sort_by(&:name),
              required: true %>
  <%= f.input :user_id,
              as: :select,
              collection: User.accessible_by(current_ability).where(organization_id: @community_program.organization_id).sort_by(&:full_name),
              label: "Primary organization contact",
              required: true %>

  <%= f.input :school_id,
              as: :select,
              collection: School.accessible_by(current_ability).where(active: true).sort_by(&:name),
              required: true %>
  <%= f.input :school_user_id,
              as: :select,
              collection: User.accessible_by(current_ability).includes(:schools).where(schools: {id: @community_program.school_id}).sort_by(&:full_name),
              label: "Primary school contact",
              required: false %>

  <%= f.input :site_agreement_on_file %>
  <%= f.input :mou_on_file,
              label: "MOU or contract on file with the District" %>

  <%= f.semantic_fields_for :primary_quality_element do |element| %>
    <%= element.input :quality_element_id,
                as: :select,
                collection: QualityElement.accessible_by(current_ability).sort_by(&:name),
                required: true,
                label: "Primary community schools element" %>
    <%= element.input :service_type_ids,
              as: :check_boxes,
              collection: ServiceType.accessible_by(current_ability).includes(:quality_elements).where(quality_elements: {id: @community_program.primary_quality_element.quality_element_id}).sort_by(&:name),
              required: true,
              label: "Primary service types" %>
  <% end %>

  <%= f.semantic_fields_for :secondary_quality_element do |element| %>
    <%= element.input :quality_element_id,
                as: :select,
                collection: QualityElement.accessible_by(current_ability).sort_by(&:name),
                required: false,
                label: "Secondary community schools element" %>

    <%= element.input :service_type_ids,
              as: :check_boxes,
              collection: ServiceType.accessible_by(current_ability).includes(:quality_elements).where(quality_elements: {id: @community_program.secondary_quality_element.quality_element_id}).sort_by(&:name),
              required: false,
              label: "Secondary service types" %>
  <% end %>

<% end %>

<h2>Program Description</h2>
<%= f.inputs do %>
  <%= f.input :service_description %>

  <%= f.input :student_population,
              as: :select,
              collection: StudentPopulation.accessible_by(current_ability),
              label: "Target population" %>

  <%= f.input :ethnicity_culture_groups,
              as: :columized_checkboxes,
              collection: EthnicityCultureGroup.accessible_by(current_ability).sort_by(&:name),
              label: "Target ethnicity/culture groups",
              columns: 3 %>

  <%= f.input :demographic_groups,
              as: :columized_checkboxes,
              collection: DemographicGroup.accessible_by(current_ability).sort_by(&:name),
              label: "Target demographic groups",
              columns: 3 %>

  <%= f.input :grade_levels,
              as: :columized_checkboxes,
              collection: GradeLevel.accessible_by(current_ability),
              label: "Target grade levels",
              columns: 4 %>

  <%= f.input :service_times,
              as: :columized_checkboxes,
              collection: ServiceTime.accessible_by(current_ability),
              label: "Service times",
              columns: 3 %>

  <%= f.input :days,
              as: :columized_checkboxes,
              collection: Day.accessible_by(current_ability),
              label: "Service days",
              columns: 3 %>
<% end %>

<h2>Internal Details</h2>
<%= f.inputs do %>
  <%= f.input :notes %>
<% end %>

<%= f.actions do %>
  <%= f.button 'Save', class: "btn btn-success" %>
<% end %>
