<% collapsed = (f.object.new_record? || f.object.errors.present?) ? 'open' : 'closed' %>

<%= collapsible_field_set_tag "Program", class: 'open' do %>
  <%= f.input :name, required: true %>

  <%= f.input :service_description %>

  <%= f.simple_fields_for :primary_quality_element do |element| %>
    <%= element.input :quality_element_id,
      as: :select,
      collection: QualityElement.accessible_by(current_ability).
        programmatic.sort_by(&:name),
      input_html: {class: 'wrap'},
      required: true %>

    <%= element.input :service_type_ids,
      as: :columized_checkboxes,
      collection: ServiceType.accessible_by(current_ability).
        includes(:quality_elements).
        where(quality_elements:
          {id: @community_program.primary_quality_element.quality_element_id}
        ).
        sort_by(&:name),
      columns: 2,
      required: true %>
  <% end %>
<% end %>

<%= collapsible_field_set_tag "Organization Details", class: collapsed do %>
  <%= f.input :organization_id,
    as: :select,
    collection: Organization.accessible_by(current_ability).
      with_users.sort_by(&:name),
    include_blank: true,
    required: true,
    selected: f.object.organization_id.present? ? f.object.organization_id : (
      current_user.role?(:organization_member) ? current_user.organization_id : "")
   %>

  <div id="org-user-wrapper" class="user-add-wrapper">
    <div id="add-org-user"
      class="user-add btn btn-medium btn-create">
      <%= gicon 'plus' %> Create new organization user
    </div>

    <%= f.input :user_id,
      as: :select,
      collection: User.accessible_by(current_ability).
        where(organization_id: @community_program.organization_id).
        sort_by(&:full_name),
      label_method: :full_name,
      required: true,
      wrapper_html: {class: 'clear both'} %>
  </div>
<% end %>

<%= collapsible_field_set_tag "Internal Details", class: collapsed do %>
  <%= f.input :receives_district_funding, as: :boolean  %>
  <%= f.input :notes %>
<% end %>
