<%= columnar_table_block 'Program Information', class: 'program-description' do %>
  <tr>
    <td><%= I18n.t('community_programs.name') %></td>
    <td>
      <%= community_program.name %>
    </td>
  </tr>

  <tr>
    <td><%= I18n.t('community_programs.quality_element') %></td>
    <td>
      <%= community_program.quality_element.try(:name) %>
    </td>
  </tr>

  <tr>
    <td><%= I18n.t('community_programs.program_completion_rate') %></td>
    <td>
      <%= community_program.completion_rate %>
    </td>
  </tr>

  <tr>
    <td><%= I18n.t('community_programs.service_types') %></td>
    <td>
      <%= community_program.primary_service_types %>
    </td>
  </tr>

  <tr>
    <td><%= I18n.t('community_programs.service_description') %></td>
    <td>
      <%= community_program.service_description %>
    </td>
  </tr>

  <tr>
    <td><%= I18n.t('community_programs.last_verified') %></td>
    <td>
      <%= community_program.last_verified %>
    </td>
  </tr>
<% end %>
