<%= columnar_table_block 'Program Details' do %>
  <tr>
    <td><%=I18n.t('community_programs.student_population') %></td>
    <td>
      <%= community_program.student_population %>
    </td>
  </tr>

  <tr>
    <td><%=I18n.t('community_programs.ethnicity_culture_groups') %></td>
    <td>
      <%= community_program.ethnicity_culture_groups %>
    </td>
  </tr>

  <tr>
    <td><%=I18n.t('community_programs.demographic_groups') %></td>
    <td><%= community_program.demographic_groups %></td>
  </tr>

  <tr>
    <td><%=I18n.t('community_programs.grade_levels') %></td>
    <td>
      <%= community_program.grade_levels %>
    </td>
  </tr>

  <tr>
    <td><%=I18n.t('community_programs.service_times') %></td>
    <td>
      <%= community_program.service_times %>
    </td>
  </tr>

  <tr>
    <td><%=I18n.t('community_programs.service_days') %></td>
    <td>
      <%= community_program.days %>
    </td>
  </tr>
<% end %>
