<div class="table_wrapper">
  <table class="table table-striped table-hover table-sorter community_programs">
    <thead>
      <tr>
        <th class="program_name">Program Name</th>
        <th class="organization">Organization</th>
        <th class="school">Schools</th>
        <th class="sqisa">Community School Element</th>
        <th class="actions sorter-false filter-false"></th>
      </tr>
    </thead>

    <tbody>
      <% community_programs.each do |community_program| %>
        <tr>
          <td class="program_name"><%= community_program.name %></td>
          <td class="organization">
            <%= link_to(
                community_program.organization.name,
                organization_path(community_program.organization)
              ) if community_program.organization.present? %>
          </td>
          <td class="school">
            <% community_program.schools.each do |school| %>
              <%= link_to school.name, school_path(school) %>
            <% end %>
          </td>
          <td class="sqisa">
            <%= community_program.quality_element.name %>
          </td>
          <td class="actions center">
            <%= link_to_gicon 'view',
              community_program_path(community_program),
              class: "btn btn-info btn-medium",
              icon: 'eye-open' %>
            <%= link_to_gicon(
                'edit',
                edit_community_program_path(community_program),
                class: "btn btn-primary btn-medium",
                icon: 'pencil'
              ) if can?(:manage, community_program) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
