<% edit_or_verify = !@community_program.new_record? && current_user.role?(:organization_member) && @community_program.verification_required? ? 'Verify' : 'Edit' %>

<%= breadcrumb [
  ['Community Programs', community_programs_path()],
  [truncate(@community_program.name, length: 20), community_program_path(@community_program)],
  ['Edit', ""]
] %>

<%= embed_ember_template 'school-program-verification-input', 'school_program_verification_input' %>

<%= modal(:basic,
          modal_id: "user-modal",
          modal_class: "user-modal",
          header_text: 'Add User',
          header_icon: 'icon-cpp-users',
          footer: false) do %>
<% end %>

<div class="row-fluid">
  <div class="span12">
    <%= page_header("#{edit_or_verify} #{@community_program.name} #{'@ ' + @community_program.school.name if @community_program.school}", "icon-cpp-handshake") %>

    <div class="form_wrapper">
      <% if @community_program.verification_required? %>
        <%= message_box :alert do %>
          This program needs verification. Please check the information below and use the 'Save & Verify' button below.
        <% end %>
      <% end %>

      <%= semantic_form_for @community_program, method: :put, html: {class: "form-horizontal #{'errors' if @community_program.errors.present?}"} do |f| %>
        <%= render :partial => 'form', :locals => {:f => f} %>
      <% end %>
    </div>

  </div>
</div>
