<%= breadcrumb [
  ['Community Programs', community_programs_path()],
  [truncate(@community_program.name, length: 20), community_program_path(@community_program)],
  ['Edit', ""]
] %>

<%= modal(:basic,
  footer: false,
  header_icon: 'icon-cpp-users',
  header_text: 'Add User',
  modal_class: "ajax-modal user-modal",
  modal_id: "user-modal") do %>
  <div class="loader loading"></div>
<% end %>

<%= modal(:basic,
  footer: false,
  header_icon: 'icon-cpp-school',
  header_text: 'Add School to Program',
  modal_class: "ajax-modal school-program-modal",
  modal_id: "school-program-modal") do %>
  <div class="loader loading"></div>
<% end %>

<%= modal(:basic,
    modal_id: "remove-school-program-modal",
    header_icon: 'icon-cpp-school',
    header_text: "Remove School from Program".html_safe,
    footer: false,
  ) do %>
    <p>Are you sure you wish to remove this school?</p>

    <p>
      <%= link_to 'Yes, Remove',
        '#',
        class: "btn btn-medium btn-danger remove" %>

      <%= link_to 'Cancel', "#close-modal",
        rel: "modal:close", "data-dismiss" => "modal" %>
    </p>
<% end %>

<% if @community_program.verification_required? %>
  <%= alert_notice :warning, 'exclamation-sign' do %>
    This program needs verification. Please check the information below and use the 'Save & Verify' button below.
  <% end %>
<% end %>

<%= render partial: 'merge_program_modal', locals: {
  community_program: @community_program
} if @community_program.organization && can?(:merge_program, @community_program) %>

<%= render partial: 'deactivation_modal', locals: {
  community_program: @community_program
} if can?(:toggle_active, @community_program) %>

<%= page_header @community_program.verification_header,
  "icon-cpp-handshake" do %>

  <%= link_to_modal_with_gicon(
      'Merge Program',
      '#merge-program-modal',
      class: "btn btn-warning",
      icon: 'transfer'
    ) if can?(:merge_program, @community_program) %>

  <%= link_to_modal_with_gicon(
      @community_program.active? ? 'Deactivate' : 'Activate',
      '#deactivation-warning-modal',
      class: "btn btn-warning",
      icon: 'ban-circle'
    ) if can?(:toggle_active, @community_program) %>
<% end %>

<div class="row">
  <div class="<%= bootstrap_col xs: 12, md:12 %>">
    <div class="form_wrapper">
      <%= simple_form_for @community_program.model, method: :put,
        html: {class: "form-horizontal community-program #{@community_program.errors.present? ? 'errors' : ''}"},
        wrapper: :horizontal_form,
        wrapper_mappings: {boolean: :horizontal_boolean} do |f| %>

        <%= render partial: 'form', locals: {
          f: f,
          policy: @community_program.public_policy
        } %>

        <%= collapsible_field_set_tag "Program Details",
          class: "program-details #{f.object.errors.present? ? 'open' : 'closed'}" do %>
          <%= alert 'info', 'info-sign' do %>
            Filling out the attributes below is not required but we encourage you to
            do so to the best of your knowledge. This information will be helpful to
            both school staff and the public in understanding your program. You will
            have the opportunity in the next step to customize these attributes for an
            individual school(s) if needed.
          <% end %>

          <%= render partial: 'community_programs/program_detail_inputs', locals: {
            f: f,
            inherited_object: @community_program,
            policy: @community_program.public_policy
          } %>
        <% end %>

        <%= f.input :id,
          as: :hidden,
          disabled: true,
          input_html: {id: 'community-program-id'} %>

        <%= collapsible_field_set_tag "Schools",
          class: 'school-programs open' do %>
          <div id="add-school-program"
            class="btn btn-large btn-create add-school-program">
            <%= gicon 'plus' %> Add a school to this program
          </div>


          <div class="row">
            <div class="<%= bootstrap_col(xs: 12, md: 12) %>">
              <div class="table-responsive">
                <table class="table table-condensed school-programs">
                  <tbody>
                    <% if @community_program.school_programs.present? %>
                      <%= render partial: 'community_programs/school_program_form_item',
                        collection: @community_program.school_programs.
                          sort_by{|sp| sp.school.name},
                        as: :school_program %>
                    <% else %>
                      <tr>
                        <td>
                          No schools have been added to this program yet.
                          A program will be considered incomplete until at least
                          one school has been added.
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        <% end %>

        <div class="row">
          <div class="col-sm-12">
            <%= f.submit t('forms.buttons.save'),
              class: "btn btn-large #{f.object.verification_required? ? 'btn-primary' : 'btn-success'}"
            %>

            <% if f.object.verification_required? && can?(:verify, f.object) %>
              <%= f.submit t('forms.buttons.save_verify'), class: "btn btn-large btn-success" %>
              <%= help_hover do %>
                This program needs verification. If for some reason you need to
                update a piece of data but are unable to verify the rest of the program
                information use the 'Save' button. Note: Programs that aren't verified may not
                show up to some users of the system.
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
