<%= breadcrumb [['Community Programs', community_programs_path()]] %>

<div class="row">
  <div class="<%= bootstrap_col xs: 12, md: 12 %>">
    <%= page_header("Community Programs", "icon-cpp-handshake", wrapper_class: 'community-programs') do %>
      <% new_program_params = current_user.organization.present? ? {community_program: {organization_id: current_user.organization}} : {} %>
      <%= link_to_gicon( 'Create New Program',
        new_community_program_path(
          new_program_params
        ),
        class: "btn btn btn-primary",
        icon: "plus") if can?(:create, CommunityProgram) %>
    <% end %>


    <%= page_nav_tabs [['Overview', '#overview'],
                       ['Community Programs', '#community-programs-table']] %>

    <div class="tab-content">
      <div id="overview" class="tab-pane active">
        <%= render partial: 'overview', locals: {community_programs: @community_programs} %>
      </div>

      <div id="community-programs-table" class="tab-pane">
        <div class="loader loading"></div>
      </div>
    </div>
  </div>
</div>
