<%= modal(:basic,
  footer: false,
  header_icon: 'icon-cpp-users',
  header_text: 'Add User',
  modal_class: "ajax-modal user-modal",
  modal_id: "user-modal") do %>
  <div class="loader loading"></div>
<% end %>


<div class="row">
  <div class="<%= bootstrap_col xs: 12, md:12 %>">
    <%= page_header('Create New Community Program', "icon-cpp-handshake") %>

    <div class="progress">
      <%= ProgressBarPresenter.perform(
        percentage: 34,
        options: {
          color_ranges: {
            0..100 => nil
          },
          partial_progress_bar: true,
          striped: true,
          text: 'Step 1 In Progress',
          type: "info",
        } ) %>
      <%= ProgressBarPresenter.perform(
        percentage: 33,
        options: {
          color_ranges: {
            0..100 => nil
          },
          partial_progress_bar: true,
          text: 'Step 2 Not Started',
          type: "inactive",
        }
      ) %>
      <%= ProgressBarPresenter.perform(
        percentage: 33,
        options: {
          color_ranges: {
            0..100 => nil
          },
          partial_progress_bar: true,
          text: 'Step 3 Not Started',
          type: "inactive",
        }
      ) %>
    </div>

    <div class="form_wrapper">
      <%= simple_form_for @community_program.object, method: :post,
        html: {class: "form-horizontal community-program #{@community_program.errors.present? ? 'errors' : ''}"},
        wrapper: :horizontal_form,
        wrapper_mappings: {boolean: :horizontal_boolean} do |f| %>

        <%= render partial: 'form', locals: {
          f: f,
          policy: @community_program.public_policy
        } %>

        <div class="row">
          <div class="col-sm-3 hidden-sm"></div>
          <div class="col-sm-9">
            <%= f.submit 'Save & Continue', class: "btn btn-large btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
