<%= breadcrumb [
  ['Community Programs', community_programs_path()],
  [@community_program.name, community_program_path(@community_program)]
] %>

<%= render partial: 'deactivation_modal', locals: {
  community_program: @community_program
} if can?(:toggle_active, @community_program) %>

<% alert_notice(
    :warning, 'exclamation-sign',
    t('community_program.messages.verification_needed')
  ) if @community_program.verification_required? && can?(:verify, @community_program) %>
<% alert_notice(
    :warning, 'exclamation-sign',
    t('community_program.messages.verification_needed').html_safe
  ) if @community_program.verifiable? %>

<%= page_header @community_program.name, 'icon-cpp-handshake',
  wrapper_class: 'community-programs' do %>

  <%= link_to_gicon('Edit Program',
      edit_community_program_path(@community_program),
      class: "btn btn-primary",
      icon: 'pencil'
    ) if can?(:edit, @community_program) && @community_program.active? %>

  <%= link_to_modal_with_gicon(
      @community_program.active? ? 'Deactivate' : 'Activate',
      '#deactivation-warning-modal',
      class: "btn btn-warning",
      icon: 'ban-circle'
    ) if can?(:toggle_active, @community_program) %>
<% end %>

<div class="row completeness">
  <div class="<%= bootstrap_col(xs: 12, md: 12) %>">
    <h7>
      <%= help t('help.community_program.completeness'), class: 'completeness-tooltip' %>
      Data Completeness:
    </h7>

    <%= ProgressBarPresenter.perform(
      percentage: @community_program.completion_rate,
      options: {
        verification_required: @community_program.verification_required?,
        tooltip: @community_program.completion_rate_tooltip,
        tooltip_class: 'cj-cp-progress-tooltip'
      }
    ) %>
  </div>
</div>

<div class="row">
  <%= columnar_attributes_display(
    header: 'Program Information',
    model: @community_program,
    attrs: %i(name quality_element service_types service_description last_verified),
    only_public_attrs: false,
    options: {class: 'program-description'},
  ) %>

  <%= columnar_attributes_display(
    header: 'Program Details',
    model: @community_program,
    attrs: %i(student_population ethnicity_culture_groups demographic_groups grade_levels service_times days),
    only_public_attrs: false,
    options: {class: 'program-details'},
  ) %>
</div>

<div class="row">
  <%= render partial: 'schools', locals: {
    school_programs: SchoolProgramDecorator.decorate_collection(
      @community_program.school_programs
    )
  } %>

  <%= render partial: 'organization_info', locals: {
    community_program: @community_program
  } %>
</div>

<% if can?(:view_district_internals, @community_program) && @community_program.internal_details_present? %>
  <div class="row">
    <%= render partial: 'internal_details', locals: {
      community_program: @community_program
    } %>
  </div>
<% end %>
