<%= breadcrumb [
  ['Community Programs', community_programs_path()],
  [@community_program.name, community_program_path(@community_program)]
] %>

<%= render partial: 'deactivation_modal', locals: {
  community_program: @community_program
} if can?(:toggle_active, @community_program) %>

<% alert_notice(
    :warning, 'exclamation-sign',
    t('community_program.messages.verification_needed')
  ) if @community_program.should_verify?(current_user) %>

<%= page_header @community_program.name, 'icon-cpp-handshake',
  wrapper_class: 'community-programs' do %>

  <%= link_to_gicon('Edit Program',
      edit_community_program_path(@community_program),
      class: "btn btn-primary",
      icon: 'pencil'
    ) if can?(:edit, @community_program) && @community_program.active? %>

  <%= link_to_modal_with_gicon(
      @community_program.active? ? 'Deactivate' : 'Activate',
      '#deactivation-warning-modal',
      class: "btn btn-warning",
      icon: 'ban-circle'
    ) if can?(:toggle_active, @community_program) %>
<% end %>

<div class="row">
  <%= content_tag(
    :span,
    ProgressBarPresenter.perform(
      percentage: @community_program.program_completion_rate,
      text: number_to_percentage(
              @community_program.program_completion_rate,
              precision: 0
            ),
      options: {special_complete_color: @community_program.verification_required?}),
    class: bootstrap_col(md: 11, xs: 11)) %>
  <%= content_tag(
      :span,
      help("This shows the completeness of the community program's provided information."),
      class: bootstrap_col(md: 1, xs: 1) + " text-center"
    ) %>
</div>

<div class="row">
  <%= render partial: 'program_description', locals: {
    community_program: @community_program
  } %>

  <%= render partial: 'program_details', locals: {
    community_program: @community_program
  } %>
</div>

<div class="row">
  <%= render partial: 'schools', locals: {
    school_programs: SchoolProgramDecorator.decorate_collection(
      @community_program.school_programs
    )
  } %>

  <%= render partial: 'organization_info', locals: {
    community_program: @community_program
  } %>
</div>
