<div class="<%= wrapper_class %>" id="<%= id %>">
  <h4><%= header %></h4>

  <% if table %>
    <div class="table-responsive">
      <%= columnar_table content %>
    </div>
  <% else %>
    <%= content %>
  <% end %>
</div>
