<h2>Community Programs by Community School Element</h2>

<% if school_programs.present? %>
  <% school_programs.
      group_by(&:quality_element).
      sort_by{|qe, p| qe.name}.
      each do |quality_element, school_programs| %>

    <%= columnar_table_block "#{quality_element.name}
      <span class='hint'>(#{pluralize school_programs.count, 'program'})</span>".html_safe,
      auto_table: false,
      class: 'school school-programs toggle toggleable closed',
      columns: {xs: 12, md: 12} do %>
        <div class="columnar-table-block-wrapper">
          <% school_programs.sort_by(&:name).each do |school_program| %>
            <div class="columnar-table-block-header">
              <h5>
                <%= link_to school_program.name,
                  community_program_path(school_program.community_program) %>

                provided by

                <%= link_to school_program.organization.name,
                  organization_path(school_program.organization) %>
              </h5>
              <%= link_to_gicon 'Show Details', '#',
                class: "btn btn-medium btn-info toggle closed",
                icon: 'eye-open eye-close',
                wrapper_span: {id: "school-program-link-#{school_program.id}"},
                "data-toggle-target" => "#school-program-table-#{school_program.id}",
                "data-toggle-text-node" => "#school-program-link-#{school_program.id}",
                "data-toggle-show-text" => "Show Details",
                "data-toggle-hide-text" => "Hide Details"
              %>
            </div>

            <%= columnar_table nil, id: "school-program-table-#{school_program.id}",
              class: "hidden" do %>
              <tr>
                <td>Service Types</td>
                <td>
                  <%= school_program.service_types.map(&:name).join(', ') %>
                </td>
              </tr>
              <tr>
                <td>Student Population</td>
                <td><%= school_program.student_population.try(:name) %></td>
              </tr>
            <% end %>
          <% end %>
        </div> <!-- columnar-table-block-wrapper -->
    <% end %>
  <% end %>
<% else %>
  <p>
    There are currently no community programs available for <%= school.name %>.
  </p>
<% end %>
