<div class="table_wrapper">
  <table class="table table-striped table-hover table-sorter">
    <thead>
      <tr>
        <th>School</th>
        <th class="center">Community Partnerships</th>
        <th class="center">Participating Organizations</th>
        <th class="center">Quality Elements Covered</th>
        <th class="sorter-false filter-false"></th>
      </tr>
    </thead>

    <tbody>
      <% schools.each do |school| %>
        <tr>
          <td><%= school.name %></td>
          <td class="center"><%= school.community_partners.count %></td>
          <td class="center"><%= school.organizations.uniq.count %></td>
          <td class="center"><%= quality_elements_coverage_display(school) %></td>
          <td class="center">
            <%= link_to 'view', school_path(school), class: "btn btn-small btn-info" %>
            <%= link_to 'edit', edit_school_path(school), class: "btn btn-small btn-info" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
