<%= breadcrumb [
  ['Schools', schools_path],
  [truncate(@school.name, length: 20), school_path(@school)],
  ["Edit", ""]] %>

<%= page_header("Edit #{@school.name}", "icon-cpp-school", wrapper_class: 'schools') %>

<div class="row">
  <div class="<%= bootstrap_col xs: 12, md: 12 %>">
    <div class="form_wrapper">
      <%= simple_form_for @school, method: :put,
        html: {class: "form-horizontal school"},
        wrapper: :horizontal_form do |f| %>
          <%= render partial: 'form', locals: {f: f} %>
      <% end %>
    </div>
  </div>
</div>
