<%= breadcrumb [
  ['Schools', schools_path],
  [@school.name, school_path(@school)]
] %>

<div class="row-fluid">
  <div class="span12">
    <%= page_header(@school.name, "icon-cpp-school") do %>
      <%= link_to('Edit', edit_school_path(@school), class: "btn btn-primary") if can? :manage, @school %>
    <% end %>

    <% if can? :view, :school_partnership_status_dashboard_panels %>
      <%= render partial: 'progress_charts', locals: {school: @school} %>
    <% end %>

    <dl class="clear">
      <dt>Region</dt>
      <dd><%= @school.region.try(:name) || '&nbsp;'.html_safe %></dd>

      <dt>Community Programs</dt>
      <dd><%= @school.community_programs.count %></dd>
    </dl>

    <%= page_nav_tabs [
      ['Community Programs', '#community-programs'],
      ['Community School Elements', '#community-school-elements']
    ] %>

    <div class="tab-content">
      <div id="community-programs" class="tab-pane active">
        <%= render partial: 'community_programs', locals: {
          school: @school,
          community_programs: @school.community_programs
        } %>
      </div>

      <div id="community-school-elements" class="tab-pane">
        <%= render partial: 'community_school_elements', locals: {
          school: @school
        } %>
      </div>
    </div>

  </div>
</div>
