<%= breadcrumb [
  ['Schools', schools_path],
  [@school.name, school_path(@school)]
] %>

<%= page_header @school.name, "icon-cpp-school" do %>
  <%= link_to_gicon('Edit School',
    edit_school_path(@school),
    class: "btn btn-primary",
    icon: 'pencil'
  ) if can? :manage, @school %>
<% end %>

<div class="row">
  <div class="<%= bootstrap_col xs: 12, md: 12 %>">
    <% if can? :view, :school_partnership_status_dashboard_panels %>
      <%#= render partial: 'progress_charts', locals: {school: @school} %>
    <% end %>

    <dl>
      <dt><%= t('region.class.name') %></dt>
      <dd><%= @school.region.try(:name) || '&nbsp;'.html_safe %></dd>

      <dt><%= t('community_programs.class.name').pluralize %></dt>
      <dd><%= @school.school_programs.count %></dd>
    </dl>
  </div>
</div>

<div class="row">
  <div class="<%= bootstrap_col xs: 12, md: 12 %>">
    <%= page_nav_tabs [
      ['Community Programs', '#community-programs'],
      ["#{I18n.t('quality_element.class.name')} Summary", '#community-school-elements']
    ] %>

    <div class="tab-content">
      <div id="community-programs" class="tab-pane active">
        <h2>Community Programs by <%= I18n.t('quality_element.class.name') %></h2>
        <%= render partial: 'community_programs', locals: {
          school: @school,
          school_programs: @school.school_programs
        } %>
      </div>

      <div id="community-school-elements" class="tab-pane community-school-elements">
        <%= render partial: 'community_school_elements', locals: {
          school: @school,
          hide_foundational_elements: false
        } %>
      </div>
    </div>

  </div>
</div>
