<%= breadcrumb [['Schools', schools_path], [@school.name, school_path(@school)]] %>

<div class="row-fluid">
  <div class="span12">
    <div class="header">
      <h1><%= @school.name %></h1>
      <%= link_to 'Edit', edit_school_path(@school), class: "btn btn-primary" %>
    </div>

    <dl>
      <dt>Region</dt>
      <dd><%= @school.region.try(:name) || '&nbsp;'.html_safe %></dd>

      <dt>Community Partnerships</dt>
      <dd><%= @school.community_partners.count %></dd>

      <dt>Community School Elements Covered</dt>
      <dd><%= quality_elements_coverage_display(@school) %></dd>

      <dt>Active</dt>
      <dd><%= @school.active %></dd>
    </dl>

    <div class="table_wrapper span6">
      <h2>Community School Elements</h2>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Community School Element</th>
            <th class="center">Community Partnerships</th>
          </tr>
        </thead>

        <tbody>
          <% QualityElement.accessible_by(current_ability).sort_by(&:name).each do |element| %>
            <tr>
              <td><%= link_to element.name, quality_element_path(element) %></td>
              <td class="center">
                <%= community_partner_count_for_element(element, @school) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="table_wrapper span10">
      <h2>Community Partners</h2>

      <table class="table table-striped table-sorter">
        <thead>
          <tr>
            <th>Organization</th>
            <th>Partnership Name</th>
            <th class="center">Community School Elements</th>
            <th class="">Service Types</th>
          </tr>
        </thead>

        <tbody>
          <% @school.community_partners.each do |community_partner| %>
            <tr>
              <td><%= link_to community_partner.organization.try(:name), organization_path(community_partner.organization) %></td>
              <td><%= link_to community_partner.name, community_partner_path(community_partner) %></td>
              <td class="center"><%= community_partner.quality_elements.map{|qe| qe.name}.join(', <br />').html_safe %></td>
              <td><%= community_partner.service_types.map{|st| st.name}.join(', <br />').html_safe %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>
