<div class="map-wrapper">
  <!-- <div class="<%= bootstrap_col xs: 12, md: 12 %>"> -->
    <nav id="menu" class="map-menu">
      <div class="map-menu-bg"></div>
      <ul class=""></ul>
    </nav>
    <div class="">
      <div id="community-programs-map" class="homepage-map"></div>
    </div>
  <!-- </div> -->
</div>

<%= page_header "Choose a School", "icon-cpp-school" %>

<div class="row">
  <div class="<%= bootstrap_col xs: 12, md: 12 %>">

    <div class="form_wrapper">
      <%= simple_form_for :school,
        url: '',
        method: :get,
        html: {
          class: "form-horizontal goto-selection",
          :"data-named-route" => 'public_school_path'
        },
        wrapper: :vertical_form do |f| %>

        <%= f.input :school_id,
          as: :grouped_select,
          collection: @presenter.schools,
          group_method: :last,
          label: false,
          prompt: "Please Select a School",
          required: false %>
      <% end %>
    </div>

  </div>
</div>

<%= page_header "Choose an Organization", "icon-cpp-small-business" %>

<div class="row">
  <div class="<%= bootstrap_col xs: 12, md: 12 %>">

    <div class="form_wrapper">
      <%= simple_form_for :organization,
        url: '',
        method: :get,
        html: {
          class: "form-horizontal goto-selection",
          :"data-named-route" => 'public_organization_path'
        },
        wrapper: :vertical_form do |f| %>

        <%= f.input :organization_id,
          label: false,
          as: :grouped_select,
          collection: @presenter.organizations,
          group_method: :last,
          label_method: :name,
          prompt: "Please Select an Organization" %>
      <% end %>
    </div>

  </div>
</div>

<div class="row">
  <div class="<%= bootstrap_col xs: 12, md: 12 %>">
    <span class="legend-circle-wrapper">
      <div class="outer-circle"></div>
      <div class="inner-circle"></div>
    </span>
  </div>
</div>
