<%= breadcrumb [
  ['Schools', public_schools_path],
  [@school.name, public_school_path(@school)]
] %>

<%= page_header @school.name, "icon-cpp-school" %>

<div class="row">
  <div class="<%= bootstrap_col xs: 12, md: 12 %>">
    <dl>
      <dt><%= t('community_programs.class.name').pluralize %></dt>
      <dd><%= @school.school_programs.count %></dd>
    </dl>
  </div>
</div>

<div class="row">
  <div class="<%= bootstrap_col xs: 12, md: 12 %>">
    <%= page_nav_tabs [
      ['Community Programs', '#community-programs'],
      ['Community School Element Summary', '#community-school-elements']
    ] %>

    <div class="tab-content">
      <div id="community-programs" class="tab-pane active">
        <%= render partial: 'schools/community_programs', locals: {
          school: @school,
          school_programs: @school.school_programs,
          title: "Community Programs at #{@school.name}",
        } %>
      </div>

      <div id="community-school-elements" class="tab-pane community-school-elements">
        <%= render partial: 'schools/community_school_elements', locals: {
          school: @school,
          hide_foundational_elements: true
        } %>
      </div>
    </div>

  </div>
</div>
