<%= breadcrumb [
  ['Schools', public_schools_path],
  [@school.name, public_school_path(@school)]
] %>

<%= page_header @school.name, "icon-cpp-school" %>

<div class="row">
  <div class="<%= bootstrap_col xs: 12, md: 12 %>">
    <dl>
      <dt><%= t('community_programs.class.name').pluralize %></dt>
      <dd><%= @school.school_programs.count %></dd>
    </dl>
  </div>
</div>

<div class="row">
  <div class="<%= bootstrap_col xs: 12, md: 12 %>">

    <div id="community-programs" class="tab-pane active">
      <%= render partial: 'schools/community_programs', locals: {
        school: @school,
        school_programs: @school.school_programs
      } %>
    </div>

  </div>
</div>
