<%= breadcrumb [
  [@school.name, public_school_path(@school)]
] %>

<%= page_header @school.name, "icon-cpp-school" %>

<div class="row">
  <div class="<%= bootstrap_col xs: 12, md: 12 %>">
    <dl>
      <dt><%= t('community_programs.class.name').pluralize %></dt>
      <dd><%= @school_programs.count %></dd>
    </dl>
  </div>
</div>

<div class="row">
  <div class="<%= bootstrap_col xs: 12, md: 12 %>">
    <% if @school_programs.present? %>
      <div id="community-programs" class="tab-pane active">
        <%= render partial: 'school_programs', locals: {
          programs: @school_programs
        } %>
      </div>
    <% else %>
      <p>This school has no active community programs assigned at this time. Please check back later.</p>
    <% end %>
  </div>
</div>
