<% modal_javascript modal_id, set_cookie: set_cookie if open_on_page_load %>

<div id="<%= modal_id %>" class="<%= modal_class %> modal" tab-index="-1"
  role="dialog" aria-labelledby="genericModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <a href="#close-modal" data-dismiss="modal"
        class="close-modal icon-cpp-close-x-inv"></a>

      <% if header %>
        <div class="modal-header">
          <h3>
            <%= modal_header %>
          </h3>
        </div>
      <% end %>

      <div class="modal-body">
        <%= modal_body %>
      </div>

      <% if footer %>
        <div class="modal-footer">
          <button class="btn <%= footer_button_class %>" data-dismiss="modal"
            aria-hidden="true"><%= footer_button_text %></button>
        </div>
      <% end %>
    </div>
  </div>
</div>
