<%= columnar_table_block 'Internal Details',
  class: 'organization-internal-details' do %>

  <tr>
    <td><%= I18n.t('organization.legal_status') %></td>
    <td>
      <%= organization.legal_status %>
    </td>
  </tr>

  <% if organization.subcontractor_with_lead_agency? %>
  <tr>
    <td><%= I18n.t('organization.subcontractor_with_lead_agency') %></td>
    <td>
      <%= organization.subcontractor_with_lead_agency? ? t('app.yes') : t('app.no') %>
    </td>
  </tr>
  <% end %>

  <tr>
    <td><%= I18n.t('organization.cost_per_student') %></td>
    <td>
      <%= organization.cost_per_student %>
    </td>
  </tr>

  <tr>
    <td><%= I18n.t('organization.last_verified') %></td>
    <td>
      <%= organization.last_verified %>
    </td>
  </tr>
<% end %>
