<%= field_set_tag 'Organization Basics' do %>
  <%= f.input :name,
    public: policy.public_attribute?(:name) %>

  <%= f.input :address,
    public: policy.public_attribute?(:address) %>

  <%= f.input :city,
    public: policy.public_attribute?(:city) %>

  <%= f.input :zip_code,
    public: policy.public_attribute?(:zip_code) %>

  <%= f.input :phone_number,
    placeholder: "555-555-5555",
    public: policy.public_attribute?(:phone_number) %>

  <%= f.input :url,
    placeholder: "http://example.com",
    public: policy.public_attribute?(:url) %>
<% end %>

<%= field_set_tag 'Organization Details' do %>
  <div id="org-user-wrapper" class="user-add-wrapper">
    <div id="add-org-user"
      class="user-add btn btn-medium btn-create pull-right">
      <%= gicon 'plus' %> Create new organization user
    </div>
    <%= f.input :user_id,
      as: :select,
      collection: User.accessible_by(current_ability).
        where(organization_id: @organization.id.to_i).
        sort_by(&:full_name),
      label_method: :full_name,
      wrapper_html: {class: 'clear both'},
      public: policy.public_attribute?(:user_id) %>
  </div>

  <%= f.input :legal_status_id,
    as: :select,
    collection: LegalStatus.for_select,
    public: policy.public_attribute?(:legal_status_id) %>

  <%= f.input(:board_approved_contract, as: :boolean,
    public: policy.public_attribute?(:board_approved_contract)
  ) if render_field?(:organization, :board_approved_contract) %>

  <%= f.input(:subcontractor_with_lead_agency, as: :boolean,
    public: policy.public_attribute?(:subcontractor_with_lead_agency)
  ) if render_field?(:organization, :subcontractor_with_lead_agency) %>

  <%= f.input(:receives_district_funding, as: :boolean,
    public: policy.public_attribute?(:receives_district_funding)
  ) if render_field?(:organization, :receives_district_funding) %>

  <%= f.input :mission_statement, as: :text,
    public: policy.public_attribute?(:mission_statement) %>

  <%= f.input :services_description, as: :text,
    public: policy.public_attribute?(:services_description) %>

  <%= f.input :program_impact, as: :text,
    public: policy.public_attribute?(:program_impact) %>

  <%= f.input :total_cost, as: :text,
    public: policy.public_attribute?(:total_cost) %>

  <% if new_org %>
    <%= select_tag :user_ids_to_assign,
          options_for_select(
            @organization.user_ids_to_assign,
            @organization.user_ids_to_assign
          ),
          multiple: true,
          class: "hidden" %>
  <% end %>

<% end %>

<% if can?(:manage_district_details, :organization) %>
  <%= field_set_tag 'District Details' do %>
    <%= f.input :legislative_file_number %>
    <%= f.input :notes %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-sm-3 hidden-sm"></div>
  <div class="col-sm-9">
    <%= f.submit t('forms.buttons.save'),
      class: "btn btn-large #{@organization.verifiable? ? 'btn-primary' : 'btn-success'}" %>

    <% if @organization.verifiable? %>
      <%= f.submit t('forms.buttons.save_verify'),
        class: "btn btn-large btn-success" %>
      <%= help_hover do %>
        This organization needs verification. If for some reason you need to
        update a piece of data but are unable to verify the rest of the organization
        information use the 'Save' button. Note: Organizations that aren't verified may not
        show up to some users of the system.
      <% end %>
    <% end %>
  </div>
</div>
