<%= field_set_tag 'Organization Basics' do %>
  <%= f.input :name %>

  <%= f.input :address %>
  <%= f.input :city %>
  <%= f.input :zip_code %>

  <%= f.input :phone_number,
    placeholder: "555-555-5555" %>

  <%= f.input :url,
    placeholder: "http://example.com" %>
<% end %>

<%= field_set_tag 'Organization Details' do %>
  <div id="org-user-wrapper" class="user-add-wrapper">
    <div id="add-org-user"
      class="user-add btn btn-medium btn-create pull-right">
      <%= gicon 'plus' %> Create new organization user
    </div>
    <%= f.input :user_id,
      label: 'Primary Contact',
      as: :select,
      collection: User.accessible_by(current_ability).
        where(organization_id: @organization.id).
        sort_by(&:full_name),
      label_method: :full_name,
      wrapper_html: {class: 'clear both'} %>
  </div>

  <%= f.input :legal_status_id,
    as: :select,
    collection: LegalStatus.for_select,
    required: true %>

  <%= f.input :mou_on_file, as: :boolean %>
  <%= f.input :subcontractor_with_lead_agency, as: :boolean %>
  <%= f.input :receives_district_funding, as: :boolean %>
  <%= f.input :mission_statement, as: :text %>
  <%= f.input :services_description, as: :text %>
  <%= f.input :program_impact, as: :text %>
  <%= f.input :cost_per_student, as: :text %>
  <% if new_org %>
    <%= select_tag :user_ids_to_assign,
          options_for_select(
            @organization.user_ids_to_assign,
            @organization.user_ids_to_assign
          ),
          multiple: true,
          class: "hidden" %>
  <% end %>

<% end %>

<% if can?(:manage_district_details, :organization) %>
  <%= field_set_tag 'District Details' do %>
    <%= f.input :legislative_file_number %>
    <%= f.input :notes %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-sm-3 hidden-sm"></div>
  <div class="col-sm-9">
    <%= f.submit t('forms.buttons.save'),
      class: "btn btn-large #{@organization.organization_verifiable? ? 'btn-primary' : 'btn-success'}" %>

    <% if @organization.organization_verifiable? %>
      <%= f.submit t('forms.buttons.save_verify'),
        class: "btn btn-large btn-success" %>
      <%= help_hover do %>
        This organization needs verification. If for some reason you need to
        update a piece of data but are unable to verify the rest of the organization
        information use the 'Save' button. Note: Organizations that aren't verified may not
        show up to some users of the system.
      <% end %>
    <% end %>
  </div>
</div>
