<%= columnar_table_block "Inactive Users #{help(t('help.organization.users.inactive')).html_safe}".html_safe, class: 'inactive-users' do %>
  <% users.each do |user| %>
    <%= columnar_table_body do %>
      <tr>
        <td><%= I18n.t('user.name') %></td>
        <td>
          <%= link_to user.full_name, user_path(user) %>
        </td>
      </tr>

      <tr>
        <td><%= I18n.t('user.title') %></td>
        <td>
          <%= user.title %>
        </td>
      </tr>
    <% end %>
  <% end %>

  <% unless users.present? %>
    There are no inactive users for this organization.
  <% end %>
<% end %>
