<div class="table_wrapper">
  <table class="table table-striped table-hover table-sorter">
    <thead>
      <tr>
        <th>Organization</th>
        <th>Community School Elements</th>
        <th>Service Types</th>
        <th class="center">Active Schools</th>
        <th class="center">Active Programs</th>
        <th class="sorter-false filter-false"></th>
      </tr>
    </thead>

    <tbody>
      <% @organizations.each do |organization| %>
        <tr>
          <td><%= organization.try(:name) %></td>
          <td><%= organization.quality_elements.map{|qe| qe.name}.join(', <br />').html_safe %></td>
          <td><%= organization.service_types.map{|cp| cp.name}.join(', <br />').html_safe %></td>
          <td class="center"><%= organization.community_programs.count %></td>
          <td class="center"><%= organization.schools.uniq.count %></td>
          <td class="center buttons">
            <%= link_to_gicon 'view',
              organization_path(organization),
              class: "btn btn-small btn-info",
              icon: 'eye-open' %>
            <%= link_to_gicon('edit',
              edit_organization_path(organization),
              class: "btn btn-small btn-primary",
              icon: 'pencil') if can?(:edit, organization) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
