<%= columnar_table_block 'Organization Details',
  class: 'organization-details' do %>

    <tr>
      <td><%= I18n.t('organization.name') %></td>
      <td>
        <%= organization.name %>
      </td>
    </tr>

    <tr>
      <td><%= I18n.t('organization.url') %></td>
      <td>
        <%= auto_link organization.url, html: {target: "_blank"} %>
      </td>
    </tr>

    <tr>
      <td><%= I18n.t('organization.phone_number') %></td>
      <td>
        <%= organization.phone_number %>
      </td>
    </tr>

    <% if current_user %>
    <tr>
      <td><%= I18n.t('organization.address') %></td>
      <td>
        <%= organization.address %>
      </td>
    </tr>

    <tr>
      <td><%= I18n.t('organization.city_state_zip') %></td>
      <td>
        <%= organization.city_state_zip %>
      </td>
    </tr>

    <% if organization.primary_contact %>
      <tr>
        <td><%= I18n.t('organization.primary_contact') %></td>
        <td>
          <%= link_to organization.primary_contact.full_name, user_path(organization.primary_contact)  %>
        </td>
      </tr>
    <% end %>
<% end %>
