<%= columnar_table_block "#{active ? 'Active' : 'Inactive'} Programs",
  auto_table: false,
  class: 'organization community-programs',
  columns: {xs: 12, md: 12} do %>

  <% programs.sort_by(&:name).each do |community_program| %>
    <div class="columnar-table-block-header">
      <h5 class="col-md-2 col-xs-12">
        <%= link_to community_program.name,
          community_program_path(community_program) %>
      </h5>

      <span class="col-md-6 col-xs-12">
        <div class="row progress-bar-container">
          <span class='col-md-11 col-xs-11' >
            <%= ProgressBarPresenter.perform(
              percentage: community_program.program_completion_rate,
              text: "#{community_program.program_completion_rate}%",
              options: {special_complete_color: community_program.verification_required?}
            ) %>
          </span>
          <span class="col-md-1 col-xs-1 pull-left">
            <%= help("This shows the completeness of the school program's provided information.") %>
          </span>
        </div>
      </span>

      <div class="header-button-wrapper col-md-4 col-xs-12">
        <% if active %>
          <%= link_to_gicon('Verification Needed',
            edit_community_program_path(
              community_program,
              redirect_back: organization_path(organization)
            ),
            class: "btn btn-medium btn-create",
            icon: 'exclamation-sign') if community_program.verification_required? %>
        <% end %>

        <%= link_to_gicon 'Show Details', '#',
          class: "btn btn-medium btn-info toggle closed",
          icon: 'eye-open eye-close',
          wrapper_span: {id: "organization-program-link-#{community_program.id}"},
          "data-toggle-target" => "#organization-program-table-#{community_program.id}",
          "data-toggle-text-node" => "#organization-program-link-#{community_program.id}",
          "data-toggle-show-text" => "Show Details",
          "data-toggle-hide-text" => "Hide Details"
        %>
      </div>
    </div>

    <%= columnar_table nil,
      id: "organization-program-table-#{community_program.id}",
      class: "hidden" do %>

      <tr>
        <td>Schools</td>
        <td>
          <%= view_more_toggle_list(community_program.schools) do |school|
            school.name
          end %>
        </td>
      </tr>
      <tr>
        <td>Community School Element</td>
        <td>
          <%= community_program.quality_element.try(:name) %>
        </td>
      </tr>
      <tr>
        <td>Service Types</td>
        <td>
          <%= community_program.primary_service_types %>
        </td>
      </tr>
      <tr>
        <td>Student Population</td>
        <td>
          <%= community_program.student_population %>
        </td>
      </tr>
      <tr>
        <td>Demographic Groups</td>
        <td>
          <%= community_program.demographic_groups %>
        </td>
      </tr>
    <% end %>
  <% end %>
<% end %>
