<% if organization.any_unverified_programs? %>
  <div class="alert">
    <%= t('organizations.messages.unverified_programs',
      count: organization.unverified_program_count
    ).html_safe %>
  </div>
<% end %>

<table class="table table-striped table-hover table-sorter">
  <thead>
    <tr>
      <th>School</th>
      <th>Program Name</th>
      <th>Community School Elements</th>
      <th>Service Types</th>
      <th class="sorter-false filter-false"></th>
    </tr>
  </thead>

  <tbody>
    <% organization.cached_community_programs.order("schools.id asc").group_by(&:school).each do |school, community_programs| %>
      <% community_programs.each do |community_program| %>
        <tr>
          <td><%= link_to school.try(:name), school_path(school) %></td>
          <td><%= community_program.name %></td>
          <td><%= community_program.quality_elements.map{|qe| qe.name}.join(', <br />').html_safe %></td>
          <td><%= community_program.service_types.map{|st| st.name}.join(', <br />').html_safe %></td>
          <td class="center buttons">
            <% if community_program.verification_required? && can?(:edit, community_program) %>
              <%= link_to 'verify',
                edit_community_program_path(community_program,
                                            redirect_back: organization_path(organization)),
                class: "btn btn-small btn-action" %>
            <% else %>
              <%= link_to 'view',
                community_program_path(community_program),
                class: "btn btn-small btn-info" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
