<table class="table table-striped table-hover table-sorter">
  <thead>
    <tr>
      <th>School</th>
      <th>Program Name</th>
      <th>Community School Elements</th>
      <th>Service Types</th>
      <th class="sorter-false filter-false"></th>
    </tr>
  </thead>

  <tbody>
    <% programs.order("schools.id asc").group_by(&:school).each do |school, community_programs| %>
      <% community_programs.each do |community_program| %>
        <tr>
          <td><%= link_to school.try(:name), school_path(school) %></td>
          <td><%= link_to community_program.name, community_program_path(community_program) %></td>
          <td><%= community_program.quality_elements.map{|qe| qe.name}.join(', <br />').html_safe %></td>
          <td><%= community_program.service_types.map{|st| st.name}.join(', <br />').html_safe %></td>
          <td class="center buttons">
            <%= link_to 'view',
              community_program_path(community_program),
              class: "btn btn-small btn-info" %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
