<%= modal(:basic,
  footer: false,
  header_icon: 'icon-cpp-users',
  header_text: 'Add User',
  modal_class: "ajax-modal user-modal",
  modal_id: "user-modal") do %>
  <div class="loader loading"></div>
<% end %>

<%= breadcrumb [
  ['Partner Organizations', organizations_path],
  [truncate(@organization.name, length: 20), organization_path(@organization)],
  ['Edit', ""]
] %>

<% alert_notice(
    :warning, 'exclamation-sign',
    t('organizations.messages.unverified_organization.edit').html_safe,
  ) if @organization.organization_verifiable? %>

<%= page_header("Edit #{@organization.name}", "icon-cpp-small-business") %>

<div class="row organization-page" data-organization-id='<%= @organization.id %>'>
  <div class="<%= bootstrap_col xs: 12, md: 12 %>">
    <div class="form_wrapper">
      <%= simple_form_for @organization.model, method: :put,
        html: {class: "form-horizontal"},
        wrapper: :horizontal_form,
        wrapper_mappings: {boolean: :horizontal_boolean} do |f| %>
          <%= render partial: 'form', locals: {
            f: f,
            new_org: false,
            policy: @organization.public_policy
          } %>
      <% end %>
    </div>
  </div>
</div>
