<%= breadcrumb [['Partner Organizations', organizations_path]] %>

<div class="row-fluid">
  <div class="span12">
    <%= page_header("Organizations", "icon-small_business") do %>
      <%= link_to 'Create New Organization', new_organization_path, class: "btn btn-primary large" %>
    <% end %>

    <%= page_nav_tabs [['Overview', '#overview'],
                       ['Organizations', '#organizations-table']] %>

    <div class="tab-content">
      <div id="overview" class="tab-pane active">
        <%= render partial: 'overview', locals: {} %> 
      </div>

      <div id="organizations-table" class="tab-pane">
        <%= render partial: 'table', locals: {organizations: @organizations} %> 
      </div>
    </div>
  </div>
</div>
