<%= breadcrumb [['Partner Organizations', organizations_path]] %>

<div class="row-fluid">
  <div class="span12">
    <%= page_header("Organizations", "icon-cpp-small-business") do %>
      <% if can? :create, Organization %>
        <%= link_to 'Create New Organization',
          new_organization_path,
          class: "btn btn-primary" %>
      <% elsif current_user.role?(:organization_member) %>
        <%= link_to 'View My Organization',
          organization_path(current_user.organization),
          class: "btn btn-info" %>
      <% end %>
    <% end %>

    <%= page_nav_tabs [['Overview', '#overview'],
                       ['Organizations', '#organizations-table']] %>

    <div class="tab-content">
      <div id="overview" class="tab-pane active">
        <%= render partial: 'overview', locals: {organizations: @organizations} %>
      </div>

      <div id="organizations-table" class="tab-pane">
        <%= render partial: 'table', locals: {organizations: @organizations} %>
      </div>
    </div>
  </div>
</div>
