<%= breadcrumb [
  ['Partner Organizations', organizations_path],
  [@organization.name, organization_path(@organization)]
] %>


<% page_specific_javascript('organization_verification') if current_user.role?(:organization_member) && @organization.any_unverified_programs? %>

<div class="row-fluid">
  <div class="span12">
    <%= page_header(@organization.name, "icon-cpp-small-business") do %>
      <%= link_to('Edit Organization', edit_organization_path(@organization), class: "btn btn-primary") if can?(:update, @organization) %>
    <% end %>

    <% if @organization.show_verification_modal?(current_user) %>
      <%= modal(:with_button,
                modal_id: "instructions",
                modal_class: "instruction-modal",
                header_text: 'Program Details',
                header_icon: 'icon-cpp-handshake',
                footer_button_text: 'Continue') do %>

        <% if @organization.any_unverified_programs? %>
          <p>
            In the table on this page you'll find a list of all of the programs
            your organization conducts. Please take some time to verify the details
            for each program. The 'Verify' button on the right hand side will take
            you to a page where you can review and update each program.
          </p>
        <% end %>

        <% if @organization.reported_program_discrepency? %>
          <p>
            In the verification process you reported that
            <%= t('organizations.messages.modal.missing_programs',
                 count: @organization.reported_program_discrepency ) %>.
            Please use the 'Create' button on the right hand side of each row
            to provide us with the details about each program.
          </p>
        <% end %>

      <% end %>
    <% end %>

    <div class="table_wrapper">
      <h2>Programs</h2>

      <% if @organization.reported_program_count > 0 && can?(:verify, @organization) %>
        <%= render partial: 'reported_programs',
          locals: {
            organization: @organization,
            reported_programs: @organization.reported_school_programs,
        } %>
      <% elsif @organization.community_programs.present? %>
        <%= render partial: 'programs',
          locals: {
            organization: @organization
        } %>
      <% else %>
        <p>There are no programs reported for this organization.</p>
      <% end %>
    </div>
  </div>
</div>
