<%= breadcrumb [
  ['Partner Organizations', organizations_path],
  [@organization.name, organization_path(@organization)]
] %>


<% page_specific_javascript('organization_verification') if current_user.role?(:organization_member) && @organization.any_unverified_programs? %>

<%= page_header(@organization.name, "icon-cpp-small-business") do %>
  <%= link_to_gicon('Edit Organization',
      edit_organization_path(@organization),
      class: "btn btn-primary",
      icon: 'pencil'
    ) if can?(:update, @organization) %>

  <%= link_to_gicon('Add a Community Program',
      new_community_program_path(community_program: {
        organization_id: @organization.id
      }),
      class: "btn btn-create",
      icon: 'plus'
    ) if can?(:new, :community_program) %>
<% end %>

<div class="row">
  <div class="<%= bootstrap_col xs: 12, md: 12 %>">
    <% if @organization.show_verification_modal?(current_user) %>
      <%= modal(:with_button,
                modal_id: "instructions",
                modal_class: "instruction-modal",
                header_text: 'Program Details',
                header_icon: 'icon-cpp-handshake',
                footer_button_text: 'Continue') do %>

        <% if @organization.any_unverified_programs? %>
          <p>
            In the table on this page you'll find a list of all of the programs
            your organization conducts. Please take some time to verify the details
            for each program. The 'Verify' button on the right hand side will take
            you to a page where you can review and update each program.
          </p>
        <% end %>

        <% if @organization.reported_program_discrepency? %>
          <p>
            In the verification process you reported that
            <%= t('organizations.messages.modal.missing_programs',
                 count: @organization.reported_program_discrepency ) %>.
            Please use the 'Create' button on the right hand side of each row
            to provide us with the details about each program.
          </p>
        <% end %>

      <% end %>
    <% end %>
  </div>
</div>

<%= page_nav_tabs [
  ['Active Programs', '#active-programs'],
  ['Inactive Programs', '#inactive-programs']
] %>

<div class="tab-content">
  <div id="active-programs" class="tab-pane active">
    <div class="table_wrapper">
      <%# if @organization.reported_program_count > 0 && can?(:verify, @organization) %>
        <%#= render partial: 'reported_programs',
          locals: {
            organization: @organization,
            reported_programs: @organization.reported_school_programs,
        } %>
      <%# elsif @organization.community_programs.present? %>
        <%= render partial: 'programs', locals: {
          programs: CommunityProgramDecorator.decorate_collection(
            @organization.community_programs
          )
        } %>
      <%# else %>
        <!-- <p>There are no programs reported for this organization.</p> -->
      <%# end %>
    </div>
  </div>

  <div id="inactive-programs" class="tab-pane">
    <div class="table_wrapper">
      <h2>Inctive Programs</h2>

      <% if @organization.inactive_community_programs.present? %>
        <%= render partial: 'programs',
          locals: {
            programs: @organization.inactive_community_programs
        } %>
      <% else %>
        <p>This organization has no inactive programs.</p>
      <% end %>
    </div>
  </div>
</div>
