<%= breadcrumb [
  ['Partner Organizations', organizations_path],
  [@organization.name, organization_path(@organization)]
] %>

<% alert_notice(
    :danger, 'exclamation-sign',
    @organization.public_policy.expiration_notice.html_safe
  ) if @organization.public_policy.expiration_notice %>

<% alert_notice(
    :warning, 'exclamation-sign',
    @organization.public_policy.public_criteria_notice.html_safe
  ) if @organization.public_policy.public_criteria_notice %>

<% alert_notice(
    :warning, 'exclamation-sign',
    t('organization.messages.unverified_organization.show').html_safe,
  ) if @organization.verifiable? %>

<% alert_notice(
    :warning, 'exclamation-sign',
    t('organization.messages.unverified_programs',
      count: @organization.unverified_program_count).html_safe
  ) if @organization.programs_verifiable? %>

<% alert_notice(
    :warning, 'exclamation-sign',
    t('organizations.messages.no_community_programs.show').html_safe
  ) unless @organization.community_programs.count > 0 %>

<%= modal(:with_button,
  footer_button_text: "Continue",
  header_icon: 'icon-cpp-small-business',
  header_text: 'Organization Verification',
  header_close_button: false,
  modal_class: "org-verification-modal instruction-modal",
  modal_id: "instructions",
  open_on_page_load: @verification_process) do %>
    <p>Thank you for reviewing your organizations details.</p>

    <% if @organization.programs_verifiable? %>
      <p>
        Your organization's programs are listed under the 'Active Programs' tab
        on this page.
      </p>

      <p>
        Each program that requires verification has a button that will allow you
        to review and verify it's details. Be sure to review the schools that are
        listed on each program and add or remove any as needed.
      </p>

      <p>
        You can also 'Deactivate' a program on the verification screen
        if needed.
      </p>
    <% else %>
      <p>
        All of your programs have been recently created or recently verified.
      </p>

      <p>
        Be sure to review the programs listed under the 'Active Programs' tab
        and create any that are missing. You may also add schools to any existing
        program by editing the program and adding schools to the list at the
        bottom of that form.
      </p>
    <% end %>
<% end %>

<%= page_header(@organization.page_header, "icon-cpp-small-business") do %>
  <%= link_to_gicon('Verify Organization',
      edit_organization_path(@organization),
      class: "btn btn-create",
      icon: 'exclamation-sign'
    ) if @organization.verifiable? %>

  <%= link_to_gicon('Edit Organization',
      edit_organization_path(@organization),
      class: "btn btn-primary",
      icon: 'pencil'
    ) if can?(:update, @organization) %>
<% end %>

<div class="row">
  <div class="<%= bootstrap_col xs: 12, md: 12 %>">
    <% if @organization.show_verification_modal? %>
      <%= modal(:with_button,
                modal_id: "instructions",
                modal_class: "instruction-modal",
                header_text: 'Program Details',
                header_icon: 'icon-cpp-handshake',
                footer_button_text: 'Continue') do %>

        <% if @organization.any_unverified_programs? %>
          <p>
            In the table on this page you'll find a list of all of the programs
            your organization conducts. Please take some time to verify the details
            for each program. The 'Verify' button on the right hand side will take
            you to a page where you can review and update each program.
          </p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row completeness">
  <div class="<%= bootstrap_col(xs: 12, md: 12) %>">
    <h7>
      <%= help t('help.organization.completeness'), class: 'completeness-tooltip' %>
      Data Completeness:
    </h7>

    <%= ProgressBarPresenter.perform(
      percentage: @organization.completion_rate,
      options: {
        verification_required: @organization.verification_required?,
        tooltip: @organization.completion_rate_tooltip,
        tooltip_class: 'cj-org-progress-tooltip'
      }
    ) %>
  </div>
</div>

<%= page_nav_tabs [
  ['Organization Info', '#org-info'],
  ['Active Programs', '#active-programs',  @organization.unverified_program_count],
  ['Inactive Programs', '#inactive-programs'],
  ['Users', '#user-info'],
] %>

<div class="tab-content">
  <div id="org-info" class="tab-pane active">
    <%= render partial: 'details', locals: {organization: @organization} %>
  </div>

  <div id="active-programs" class="tab-pane">
    <div class="table_wrapper">
      <%# if @organization.community_programs.present? %>
        <%= render partial: 'programs', locals: {
          active: true,
          organization: @organization,
          programs: CommunityProgramDecorator.decorate_collection(
            @organization.community_programs
          )
        } %>
      <%# else %>
        <!-- <p>This organization has no active programs.</p> -->
      <%# end %>
    </div>
  </div>

  <div id="inactive-programs" class="tab-pane">
    <div class="table_wrapper">
      <%# if @organization.inactive_community_programs.present? %>
        <%= render partial: 'programs',
          locals: {
            active: false,
            organization: @organization,
            programs: CommunityProgramDecorator.decorate_collection(
              @organization.inactive_community_programs
            )
        } %>
      <%# else %>
        <!-- <p>This organization has no inactive programs.</p> -->
      <%# end %>
    </div>
  </div>

  <div id="user-info" class="tab-pane active">
    <div class="row">
      <%= render partial: 'active_users', locals: {
        users: UserDecorator.decorate_collection(@organization.users.active | @organization.users.as_invited_contact),
        organization: @organization
      } %>

      <%= render partial: 'contacts', locals: {
        users: UserDecorator.decorate_collection(@organization.users.as_contact),
        organization: @organization
      } %>
    </div>

    <div class="row">
      <%= render partial: 'inactive_users', locals: {
        users: UserDecorator.decorate_collection(@organization.users.inactive - @organization.users.as_contact)
      } %>
    </div>
  </div>
</div>
