<%= breadcrumb [
  ['Partner Organizations', organizations_path],
  [@organization.name, organization_path(@organization)]
] %>


<% page_specific_javascript('organization_verification') if current_user.role?(:organization_member) && @organization.any_unverified_programs? %>

<div class="row-fluid">
  <div class="span12">
    <%= page_header(@organization.name, "icon-small_business") do %>
      <%= link_to('Edit', edit_organization_path(@organization), class: "btn btn-primary") if can?(:update, @organization) %>
    <% end %>

    <% if current_user.role?(:organization_member) && @organization.any_unverified_programs? %>
      <div id="instructions" class="instruction-modal modal" role="dialog" aria-labelledby="instructionsModal" aria-hidden="true">
        <div class="modal-header">
          <h3>
            <span class="icon-bym icon-handshake"></span>
            Program Details
          </h3>
        </div>

        <div class="modal-body">
          <p>
            In the table on this page you'll find a list of all of the programs
            your organization conducts. Please take some time to verify the details
            for each program. The 'Verify' button on the right hand side will take
            you to a page where you can review and update each program.
          </p>

          <% if current_user.role?(:organization_member) && @organization.reported_program_discrepency? %>
            <p>
              In the verification process you also reported that there are
              <%= pluralize @organization.reported_program_discrepency, 'program' %>
              that have not yet been entered into our system. Please use
              the 'Create' button on the right hand side of each row to provide us
              with the details about each program.
            </p>
          <% end %>
        </div>

        <div class="modal-footer">
          <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Continue</button>
        </div>
      </div>
    <% end %>

    <div class="table_wrapper">
      <h2>Programs</h2>

      <% if @organization.reported_program_discrepency? %>
        <div class="alert">
          <strong>
            <%= pluralize @organization.reported_program_discrepency, 'Programs' %>
            <%= @organization.reported_program_discrepency == 1 ? 'Needs' : 'Need' %>
            Creation!
          </strong>
          There are <%= pluralize @organization.reported_program_discrepency, 'program' %>
          that have been reported for this organization but have not yet been
          created. Please add them by using the 'create' buttons in the table below.
        </div>
      <% end %>

      <% if @organization.any_unverified_programs? %>
        <div class="alert">
          <strong>
            <%= pluralize @organization.unverified_program_count, 'Programs' %>
            <%= @organization.unverified_program_count == 1 ? 'Needs' : 'Need' %>
            Verification!
          </strong>
          There are <%= pluralize @organization.unverified_program_count, 'program' %>
          that have not yet had their details reviewed and verified by your
          organization. Use the 'verify' buttons in the table below to review
          and verify them.
        </div>
      <% end %>

      <table class="table table-striped table-hover table-sorter">
        <thead>
          <tr>
            <th>School</th>
            <th>Program Name</th>
            <th>Community School Elements</th>
            <th>Service Types</th>
            <th class="sorter-false filter-false"></th>
          </tr>
        </thead>

        <tbody>
          <% reported_programs = @organization.reported_school_programs %>
          <% @organization.cached_community_programs.order("schools.id asc").group_by(&:school).each do |school, community_programs| %>
            <%
              reported_program_count = reported_programs[school.id.to_s]
              reported_programs.delete(school.id.to_s)
            %>

            <% community_programs.each do |community_program| %>
              <tr>
                <td><%= link_to school.try(:name), school_path(school) %></td>
                <td><%= community_program.name %></td>
                <td><%= community_program.quality_elements.map{|qe| qe.name}.join(', <br />').html_safe %></td>
                <td><%= community_program.service_types.map{|st| st.name}.join(', <br />').html_safe %></td>
                <td class="center buttons">
                  <% if community_program.verification_required? && can?(:edit, community_program) %>
                    <%= link_to 'verify', edit_community_program_path(community_program, redirect_back: organization_path(@organization)), class: "btn btn-small btn-info" %>
                  <% else %>
                    <%= link_to 'view', community_program_path(community_program), class: "btn btn-small btn-info" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            <% (reported_program_count - community_programs.count).times do %>
              <tr>
                <td><%= school.try(:name) %></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="center buttons">
                  <%= link_to 'create',
                        new_community_program_path(params: {  community_program: {
                                                                school_id: school.id,
                                                                organization_id: @organization.id
                                                              }
                                                           }),
                        class: "btn btn-small btn-info" %>
                </td>
              </tr>
            <% end %>
          <% end %>
          <% reported_programs.each do |key, value| %>
            <% school = School.find(key.to_i) %>
            <% value.times do |i| %>
              <tr>
                <td><%= school.try(:name) %></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="center buttons">
                  <%= link_to 'create',
                        new_community_program_path(params: {  community_program: {
                                                                school_id: school.id,
                                                                organization_id: @organization.id
                                                              }
                                                           }),
                        class: "btn btn-small btn-info" %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>
