<div class="table_wrapper">
  <table class="table table-striped table-hover table-sorter">
    <thead>
      <tr>
        <th>Organization</th>
        <th><%= I18n.t('quality_element.class.name').pluralize %></th>
        <th>Service Types</th>
        <th class="center">Active Schools</th>
        <th class="center">Active Programs</th>
        <th class="center">CTE Participation</th>
        <th>CTE Pathways</th>
        <th>CTE Event Interest</th>
        <th class="sorter-false filter-false"></th>
      </tr>
    </thead>

    <tbody>
      <% @organizations.each do |organization| %>
        <tr>
          <td><%= organization.try(:name) %></td>
          <td>
            <%= organization.quality_elements.compact.map{|qe| qe.name}.join(', <br />').html_safe %>
          </td>
          <td>
            <%= organization.service_types.map{|cp| cp.name}.join(', <br />').html_safe %>
          </td>
          <td class="center">
            <%= @counts_by_org.dig(organization.id, :school_count) || 0 %>
          </td>
          <td class="center">
            <%= @counts_by_org.dig(organization.id, :program_count) || 0 %>
          </td>
          <td class="center">
            <%= boolean_yes_no(organization.participates_in_cte?) %>
          </td>
          <td>
            <%= organization.cte_service_types.map{|cp| cp.name}.join(', <br />').html_safe %>
          </td>
          <td>
            <%= organization.cte_event_types.map{|cp| cp.name}.join(', <br />').html_safe %>
          </td>
          <td class="center buttons">
            <%= link_to_gicon 'view',
              organization_path(organization),
              class: "btn btn-small btn-info",
              icon: 'eye-open' %>
            <%= link_to_gicon('edit',
              edit_organization_path(organization),
              class: "btn btn-small btn-primary",
              icon: 'pencil') if can?(:edit, organization) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
