<%= breadcrumb [
  ['Partner Organizations', organizations_path],
  [truncate(@organization.name, length: 20), organization_path(@organization)],
  ['Verify', ""]
] %>

<%= modal(:with_button,
  footer_button_text: "Get Started",
  header_icon: 'icon-cpp-small-business',
  header_text: 'Organization Verification',
  header_close_button: false,
  modal_class: "org-verification-modal instruction-modal",
  modal_id: "instructions",
  open_on_page_load: true) do %>
  <p>
    To get started we need to verify information about your organization
    and the programs it provides at
    <%= t("#{current_user.subdomain}.district.name") %>.
  </p>

  <p>
    There are <strong>2 steps</strong> to the process. But don't worry,
    we'll give you instructions along the way!
  </p>

  <ul>
    <li>
      <span class="instruction-number">1</span>
      <p class="instruction-content">
        First, we need you to verify the basic information about your
        organization, your mission, and the various services you provide.
      </p>
    </li>
    <li>
      <span class="instruction-number">2</span>
      <p class="instruction-content">
        After you've verified your oganization details, we'll ask that
        you spend some time reviewing and verifying the information about
        your programs that are already present in our system. We'll also ask
        you to create any additional programs that aren't already present.
      </p>
    </li>
  </ul>
<% end %>

<%= page_header("Verify #{@organization.name}", "icon-cpp-small-business") %>

<div class="row">
  <div class="<%= bootstrap_col xs: 12, md: 12 %>">
    <div class="form_wrapper">
      <%= simple_form_for @organization.model, method: :put,
        html: {class: "form-horizontal organization"},
        wrapper: :horizontal_form,
        wrapper_mappings: {boolean: :horizontal_boolean} do |f| %>
          <%= render partial: 'form', locals: {
            f: f
          } %>

          <%= hidden_field_tag "organization[verification_process]", value: true %>
      <% end %>
    </div>
  </div>
</div>
