<%= breadcrumb [['Community School Elements', quality_elements_path]] %>

<div class="row-fluid">
  <div class="span12">
    <%= page_header("Community School Elements", "") do %>
      <%= link_to 'Create New Community School Element', new_quality_element_path, class: "btn btn-primary" %>
    <% end %>
    
    <div class="table_wrapper">
      <table class="table table-striped table-hover table-sorter quality_elements">
        <thead>
          <tr>
            <th>Community School Element</th>
            <th>Element Type</th>
            <th>Schools</th>
            <th>Organizations</th>
            <th class="actions sorter-false filter-false"></th>
          </tr>
        </thead>

        <tbody>
          <% @quality_elements.each do |element| %>
            <tr>
              <td><%= element.name %></td>
              <td><%= element.element_type %></td>
              <td><%= element.schools.count %></td>
              <td><%= element.organizations.count %></td>
              <td class="actions center">
                <%= link_to 'view', quality_element_path(element), class: "btn btn-small btn-info" %>
                <%= link_to 'edit', edit_quality_element_path(element), class: "btn btn-small btn-info" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


