<%= breadcrumb [
  ['Community School Elements', quality_elements_path],
  [truncate(@quality_element.name, length: 20), quality_element_path(@quality_element)]
] %>

<div class="row-fluid">
  <div class="span12">
    <%= page_header(@quality_element.name, "") do %>
      <%= link_to 'Edit', edit_quality_element_path(@quality_element), class: "btn btn-primary" %>
    <% end %>

    <div class="table_wrapper">
     <table class="table table-striped">
        <thead>
          <tr>
            <th>Schools</th>
            <th>Partner Organizations</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @quality_element.schools.uniq.count %></td>
            <td><%= @quality_element.organizations.uniq.count %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table_wrapper">
      <% @quality_element.school_programs.group_by(&:school).each do |school, school_programs| %>
        <h2><%= link_to school.try(:name), school_path(school) %></h2>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Partner Organization</th>
              <th>Community School Element</th>
              <th>Service Types</th>
            </tr>
          </thead>

          <tbody>
            <% school_programs.each do |school_program| %>
              <tr>
                <td><%= link_to school_program.organization.try(:name), community_program_path(school_program.community_program) %></td>
                <td><%= school_program.quality_element.try(:name) %></td>
                <td><%= school_program.service_types.map{|st| st.name}.join(', <br />').html_safe %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
