<h5><%= region.name %></h5>

<dl class="quality_element_stats">
  <% region.quality_element_counts.each do |quality_element_count| %>
    <dt class="toggle"
        data-target="#<%= region.id %>_<%= quality_element_count[:id] %>">
      <%= quality_element_count[:name] %>
    </dt>
    <dd>
      <%= pluralize(quality_element_count[:count], "program") %>
      <span class="extra_info">
        (<%= region.percentage_of_programs_with_quality_element(quality_element_count[:count]) %>%)
      </span>

      <% if quality_element_count[:count] > 0 %>
        <div id="<%= region.id %>_<%= quality_element_count[:id] %>"
            class="hide service_type_stats_wrapper">
          <h6>Service Types <span class="hint">(each program can have multiple)</span></h6>

          <dl class="service_type_stats">
            <% region.service_type_counts.each do |service_type_count| %>
              <dt><%= service_type_count[:name] %></dt>
              <dd><%= service_type_count[:count] %></dd>
            <% end %>
          </dl>
        </div>
      <% end %>
    </dd>
  <% end %>

  <% region.quality_elements_without_coverage.each do |quality_element_name| %>
    <dt><%= quality_element_name %></dt>
    <dd>0 programs <span class="extra_info">(0%)</span></dd>
  <% end %>
</dl>
