<h4><%= region.name %></h4>

<table class="table table-striped table-condensed quality-element-stats-wrapper">
  <% region.quality_element_counts.each do |quality_element_count| %>
    <tbody>
      <tr class="quality-element-stat">
        <td class="toggle"
            data-toggle-target="#<%= region.id %>_<%= quality_element_count[:id] %>">
          <%= quality_element_count[:name] %>
        </td>
        <td>
          <%= pluralize(quality_element_count[:count], "program") %>
          <span class="extra_info">
            (<%= region.percentage_of_programs_with_quality_element(quality_element_count[:count]) %>%)
          </span>
        </td>
      </tr>
    </tbody>

    <% if quality_element_count[:count] > 0 %>
      <tbody id="<%= region.id %>_<%= quality_element_count[:id] %>"
        class="hidden service-type-stats-wrapper">

        <tr class="service-type-label">
          <td colspan="2">
            Service Types
            <span class="hint">(each program can have multiple)</span>
          </td>
        </tr>

        <% region.service_type_counts.each do |service_type_count| %>
          <tr class="service-type">
            <td><%= service_type_count[:name] %></td>
            <td><%= service_type_count[:count] %></td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  <% end %>

  <tbody>
    <% region.quality_elements_without_coverage.each do |quality_element_name| %>
      <tr class="quality-element-stat">
        <td><%= quality_element_name %></td>
        <td>0 programs <span class="extra_info">(0%)</span></td>
      </tr>
    <% end %>
  </tbody>
</table>
