<h5><%= region.name %></h5>

<dl class="quality_element_stats">
  <% quality_elements_with_partnerships = [] %>
  <% region.community_partners_by_quality_element.sort_by{|k,v| v.count}.reverse.each do |quality_element_id, quality_elements| %>
    <% quality_elements_with_partnerships << quality_elements.first %>
    <dt><%= quality_elements.first.name %></dt>
    <dd>
      <%= pluralize(quality_elements.count, "partnership") %> 
      <span class="extra_info">(<%= (quality_elements.count.to_f / region.cached_community_partner_count.to_f * 100).round %>%)</span>
    </dd>
  <% end %>

  <% (QualityElement.accessible_by(current_ability).all - quality_elements_with_partnerships).each do |quality_element| %>
    <dt><%= quality_element.name %></dt>
    <dd>0 partnerships <span class="extra_info">(0%)</span></dd>
  <% end %>
</dl>
