<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#">
      <%= t("#{request.subdomain}.app.title") %>
    </a>
    <ul class="nav">
      <li class="nav-item <%= active_for_controller('schools') %>">
        <%= icon_link_to 'Schools', schools_path, class: "single-line", icon_class: "icon-school" %>
      </li>
      <li class="nav-item <%= active_for_controller('community_programs') %>">
        <%= icon_link_to 'Community Programs', community_programs_path, icon_class: "icon-handshake", nav_label_class: "community_partnership" %>
      </li>
      <li class="nav-item <%= active_for_controller('organizations') %>">
        <%= icon_link_to 'Partner Organizations', organizations_path, icon_class: "icon-small_business", nav_label_class: "organization" %>
      </li>

      <% if can? :manage, :application %>
      <li class="nav-item dropdown">
        <%= icon_link_to 'Manage', '#',
              class: "dropdown-toggle single-line #{active_for_controller('service_types')} #{active_for_controller('quality_elements')}",
              icon_class: "icon-gears",
              dropdown: true,
              :"data-toggle" => "dropdown" %>

        <ul class="dropdown-menu">
          <li><%= link_to_if can?(:manage, QualityElement), 'Community School Elements', quality_elements_path %></li>
          <li><%= link_to_if can?(:manage, ServiceType), 'Service Types', service_types_path %></li>
          <li><%= link_to_if can?(:manage, User), 'Users', users_path %></li>
        </ul>
      </li>
      <% end %>

      <li class="nav-item dropdown">
        <%= icon_link_to 'Visualize', '#',
              class: "dropdown-toggle single-line #{active_for_controller('visualizations')}",
              icon_class: "icon-graph",
              dropdown: true,
              :"data-toggle" => "dropdown" %>
        <ul class="dropdown-menu">
          <li><%= link_to 'Community Programs', school_hierarchy_visualizations_path %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>


