<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#">OUSD Community Partner Platform</a>
    <ul class="nav">
      <li class="<%= active_for_controller('schools') %>"><%= link_to 'Schools', schools_path %></li>
      <li class="<%= active_for_controller('community_partners') %>"><%= link_to 'Community Partnerships', community_partners_path %></li>
      <li class="<%= active_for_controller('organizations') %>"><%= link_to 'Organizations', organizations_path %></li>
      <li class="<%= active_for_controller('quality_elements') %>"><%= link_to 'Quality Elements', quality_elements_path %></li>
      <li class="<%= active_for_controller('service_types') %>"><%= link_to 'Service Types', service_types_path %></li>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle <%= active_for_controller('visualizations') %>" data-toggle="dropdown">
            Visualizations
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'School Partnerships', school_hierarchy_visualizations_path %></li>
          </ul>
        </li>
    </ul>
    <div class="user">
      <% if current_user.present? %>
        Signed in as <%= current_user.email %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      <% end %>
    </div>
  </div>
</div>


