<div class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
        data-toggle="collapse" data-target=".navbar-collapse"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="navbar-brand">
        <div class="hgroup">
          <h1>
            <a class="brand" href="/"><%= t("#{request.subdomain}.app.title") %></a>
          </h1>
        </div>
      </div>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li class="nav-item <%= active_for_controller('schools') %>">
            <%= icon_link_to 'Schools',
              schools_path,
              class: "single-line",
              icon_class: "icon-cpp-school" %>
          </li>
          <li class="nav-item <%= active_for_controller('community_programs') %>">
            <%= icon_link_to 'Community Programs',
              community_programs_path,
              icon_class: "icon-cpp-handshake",
              nav_label_class: "community_partnership" %>
          </li>
          <li class="nav-item <%= active_for_controller('organizations') %>">
            <%= icon_link_to 'Partner Organizations',
              organizations_path,
              icon_class: "icon-cpp-small-business",
              nav_label_class: "organization" %>
          </li>
          <li class="nav-item <%= active_for_controller('events') %>">
            <%= icon_link_to 'Events',
              events_path,
              class: "single-line",
              icon_class: "icon-cpp-event-calendar",
              nav_label_class: "events" %>
          </li>
        <% end %>

        <% if can? :manage, :application %>
        <li class="nav-item dropdown">
          <%= icon_link_to 'Manage', '#',
                class: "dropdown-toggle single-line #{active_for_controller('service_types')} #{active_for_controller('quality_elements')}",
                icon_class: "icon-cpp-gears",
                dropdown: true,
                data: {toggle: "dropdown"},
                role: 'button',
                aria: {haspopup: "true", expanded: "false"} %>

          <ul class="dropdown-menu">
            <% if can?(:manage, QualityElement) %>
              <li><%= link_to I18n.t('quality_element.class.name').pluralize, quality_elements_path %></li>
            <% end %>
            <% if can?(:manage, ServiceType) %>
              <li><%= link_to 'Service Types', service_types_path %></li>
            <% end %>
            <% if can?(:new, User) %>
              <li><%= link_to 'Users', users_path %></li>
            <% end %>
            <% if can?(:view, :admin_dashboard) %>
              <li><%= link_to 'Dashboard', admin_dashboard_index_path %></li>
            <% end %>
          </ul>
        </li>
        <% end %>

        <% if can? :view, :visualizations %>
          <li class="nav-item dropdown">
            <%= icon_link_to 'Visualize', '#',
                  class: "dropdown-toggle single-line #{active_for_controller('visualizations')}",
                  icon_class: "icon-cpp-graph",
                  dropdown: true,
                  :"data-toggle" => "dropdown" %>
            <ul class="dropdown-menu">
              <li><%= link_to 'Community Programs', school_hierarchy_visualizations_path %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>

  <div class="nav-bar-fade"></div>
</div>
