<div class="row flash-messages">
  <div class="<%= bootstrap_col xs: 12, md:12 %> alerts">
    <% flash.each do |type, message| %>
      <%= alert_message type, message %>
    <% end %>

    <%= yield :alert_notices %>

    <% if flash[:js].present? %>
      <script type='text/javascript'>
        <% flash[:js].each do |key, value| %>
          var GLOBAL_<%= key %> = <%= value %>;
        <% end %>
      </script>
    <% end %>
  </div>
</div>
