<!DOCTYPE html>
<html lang="en">
<head>
<title><%= t("#{request.subdomain}.app.title") %></title>

  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic|Open+Sans:400italic,800italic,400,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>

  <!--[if lte IE 7]>
    <script src="<%= asset_path('lte-ie7.js') %>"></script>
  <![endif]-->

  <%= csrf_meta_tags %>

  <%= yield :javascripts %>
</head>
<body class="row-fluid">
<script type='text/x-handlebars' data-template-name='application'>
  <%= render "layouts/user_navigation" %>
  <%= render "layouts/navigation" %>

  <div class="page-wrapper">
    <%= render "layouts/notices" %> 
   
    <div id="content-wrapper"> 
      <%= render "layouts/breadcrumbs" %>

      <%= yield %>
    </div>
  </div>

  <div id="footer">
  </div>
</script>
</body>
</html>
