<!DOCTYPE html>
<html lang="en">
<head>
<title><%= t("#{request.subdomain}.app.title") %></title>

<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic|Open+Sans:400italic,800italic,400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Merriweather&text=1234567890' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application", media: "all" %>

  <%= javascript_include_tag "vendor" %>
  <%= javascript_include_tag "application" %>

  <!--[if lte IE 7]>
    <script src="<%= asset_path('ie7.js') %>"></script>
  <![endif]-->

  <%= csrf_meta_tags %>

  <%= yield :javascripts %>
</head>
<body class="row-fluid">
<% if controller.controller_name == 'schools' && controller.action_name == 'show' %>
<script type='text/x-handlebars' data-template-name='application'>
<% end %>

  <% if defined?(Peek) && Rails.env.development? %>
    <%= render 'peek/bar' %>
  <% end %>
  <%= render "layouts/user_navigation" %>
  <%= render "layouts/navigation" %>

  <div class="page-wrapper">
    <div id="content-wrapper">
      <%= render "layouts/notices" %>
      <%= render "layouts/breadcrumbs" %>

      <%= yield %>
    </div>
  </div>

  <div id="footer">
  </div>
<% if controller.controller_name == 'schools' && controller.action_name == 'show' %>
</script>
<% end %>
</body>
</html>
